[2018-09-28 15:31] dbouwman opened #1 "Ensure this can be used from Node and Browsers"
This looks awesome! Judging by how popular the "Admin Tools for ArcGIS" are, this is clearly something we've needed for some time.

Anyhow - hopefully this ask is in line with your plans @MikeTschudi, but it would be great if this was build in a way that it can be `npm install`-ed for both browser apps and node apps.

[2018-10-11 17:52] jgravois opened #2 "figure out how to get readable TypeDoc output from the code"

[2018-10-11 21:36] #2 closed, assigned to MikeTschudi, jgravois

[2018-10-17 23:15] jgravois opened #4 "suggestion: nix 'develop' branch entirely"
and just use `master` for stable, unreleased code.

[2018-10-18 17:58] dbouwman opened #5 "Of Gorilla's, Bananas and the Jungle: Thoughts on Reuse and Functional Programming"
Just some thoughts on how this can be constructed in a little differently, but with large ramifications for re-use and optimization.

@MikeTschudi - If you are willing to give this a go, @jgravois and I are more than willing to help add the various modules into ArcGIS Rest JS, as well as help with "zen of functionalization" questions, and ideas around how to construct the "orchestrator" code that

[2018-10-18 18:02] dbouwman opened #6 "Solution Json Structure..."
I like the use of the ids as keys on the `items` object, and the use of the `dependencies` array. I'll look into the lift to do that in Hub as well...

I think we can transform this structure into what the hub expects w/o much work, but if it's all the same to you, could we change `itemSection` and `dataSection` to be just `item` and `data`?

[2018-10-26 18:36] #6 closed, assigned to nobody

[2018-10-26 21:40] #4 closed, assigned to nobody

[2018-11-15 16:42] #1 closed, assigned to nobody

[2019-02-11 21:35] MikeTschudi opened #15 "Fix webpack to use node_modules rather than relative paths"

[2019-02-14 18:17] MikeTschudi commented on #15
Fixed with commit 6c54e8f039afc7a59a0313032f99350692afd7ec

[2019-02-14 18:17] #15 closed

[2019-02-14 20:21] #5 closed

[2019-02-21 12:51] MikeTschudi opened #18 "Convert thumbnail into template resource"

[2019-02-21 12:51] MikeTschudi opened #19 "Manage item resources in template and deployment"

[2019-03-25 17:18] jgravois opened #24 "Publish to npm as solution.js"

[2019-06-06 15:16] MikeTschudi commented on #18
Implemented bd98d5fbd2339eb3ff5051cc44802b9c75eb8f51

[2019-06-06 15:16] #18 closed

[2019-06-06 15:17] MikeTschudi commented on #19
Implemented bd98d5fbd2339eb3ff5051cc44802b9c75eb8f51

[2019-06-06 15:17] #19 closed

[2019-06-06 16:35] MikeTschudi opened #30 "Add ability to swizzle feature services in Pro Project Package item type"
@chris-fox:

[2019-06-06 16:35] MikeTschudi opened #31 "Support the ability to deploy sample data with the feature layers delivered with the Solutions"
Request from Mike Miller and Utilities team. Design TBD.

[2019-06-06 16:37] MikeTschudi opened #32 "Add ArcGIS Pro Add-In type"
@chris-fox:

[2019-06-06 16:39] MikeTschudi opened #33 "Add Workforce Project type"
@chris-fox:

[2019-06-06 16:42] MikeTschudi opened #34 "Carry over editing settings/capabilities from Feature Service (and View) template"
@chris-fox:

[2019-06-06 16:44] MikeTschudi opened #35 "Feature Service Naming Convention"
@chris-fox:

ROWPermits_dashboard_299c12aa9ba442418079603f5c39f8c3
ROWPermits_locator_299c12aa9ba442418079603f5c39f8c3

ROWPermits_dashboard
ROWPermits_locator

[2019-06-06 16:44] MikeTschudi opened #36 "Folder Naming Convention"
@chris-fox:

Manage Right of Way Activities 1
Manage Right of Way Activities 2

[2019-06-06 16:46] MikeTschudi opened #37 "Add Hosted Feature Layer Views type"
@chris-fox:

CitizenProblems

[2019-06-06 16:47] MikeTschudi opened #38 "Internationalize Solution template"
Solution templates come from a single source, which is currently in English.

[2019-06-06 16:50] MikeTschudi opened #39 "Deployed Solution properties convention"
@chris-fox:

[2019-06-06 16:51] MikeTschudi opened #40 "Manage Web Map with hosted duplicate feature layer"
Web Map http://arcgis4localgov2.maps.arcgis.com/home/item.html?id=cbeb7b2f0ae14e75b44061c26f5d6eec has the same feature layer used for two operational layers, but one instance has an itemId and the other does not:

![image](https://user-images.githubusercontent.com/2125181/59050977-a17b2f00-8840-11e9-8cd7-04f3cc355a35.png)

@chris-fox:

[2019-06-06 16:53] MikeTschudi opened #41 "Add Form type"
@chris-fox:

[2019-06-06 19:01] MikeTschudi commented on #24
Changed priority because #29 depends on it

[2019-06-06 22:55] MikeTschudi opened #42 "Add Open Street Map type"

[2019-06-06 23:00] MikeTschudi opened #43 "Add Web AppBuilder's Code Attachment"
Code attachment is used for WAB downloading

[2019-06-06 23:01] MikeTschudi opened #44 "Add Storymap type"

[2019-06-06 23:03] MikeTschudi opened #45 "Add Table type"

[2019-06-06 23:03] MikeTschudi opened #46 "Add Vector Tile Layer type (Authored w/ Vector Tile Style Editor)"
We need to support deploying custom basemaps that are authored using the Vector Tile Style Editor. These items have the type "Vector Tile Service", but they are a unique subset of this item type in that they just store the definition of how the vector tiles are symbolized, not the actual tiles themselves.

This request is to support this specific kind of Vector Tile Services, not all as the api fo

[2019-06-06 23:08] MikeTschudi opened #47 "Support circular dependencies"
Current design cancels templatization. Can cut loops instead.

[2019-06-06 23:09] MikeTschudi opened #48 "Support dependencies listed in popups"
For example, surveys

[2019-06-07 20:46] MikeTschudi opened #49 "Publish types to DefinitelyTyped"
Like we get the transpiled code from the web, so get the types

[2019-06-07 21:38] MikeTschudi commented on #24
Completed with commit 17e84b2258063e645aa62fcd03af071d048dc9fd

[2019-06-07 21:38] #24 closed

[2019-06-07 22:37] chris-fox commented on #48
examples Citizen Problem Manager + Citizen Problem Satisfaction Survey, Election Assistance + Election Wait Times

[2019-06-07 22:39] chris-fox commented on #47
Examples Wildlife Resource Locator + Recreation License Locator

[2019-06-07 22:40] chris-fox commented on #43
Related when templatizing don't store the code attachment in the template

[2019-06-07 22:42] chris-fox commented on #34
@jmhauck can confirm if this was included in his feature service work

[2019-06-07 22:58] jgravois commented on #24
https://www.npmjs.com/package/@esri/solution-creator 🎉

[2019-06-10 19:01] jmhauck commented on #34
@chris-fox yes...for example with this solution we have the source feature service:

**ROWPermits**
-	ROW Permits (feature service)
	Source and deployed have: "capabilities" : "Create,Query,Update,Editing,Extract"
-	ROW Permit Comment (feature service)
	Source and deployed have: "capabilities" : "Create,Query,Update,Editing,Extract"

The views:

 **ROWPermits_manager**
-	ROW Permits (view)
	Source

[2019-06-10 19:05] MikeTschudi commented on #43
- [ ] don't save code attachments in template
- [ ] create code attachment for WAB app when deploying

[2019-06-11 21:58] MikeTschudi commented on #36
@chris-fox, if deployment org contains folders

Manage Right of Way Activities 2

this implementation will create folder "Manage Right of Way Activities 1", the first available name in the series.

[2019-06-13 17:30] #36 closed

[2019-06-13 17:32] MikeTschudi commented on #41
- create Solution
  - [x] Get Survey2Service relationship
  - [ ] Save attached zip to Solution item
- deploy Solution
  - [ ] Restore relationship
  - [ ] Restore zip

[2019-06-17 19:48] jmhauck commented on #37
Support for views came in with pull request #28 under the feature-layer type. As mentioned above the user must be the owner of the item or an admin in the org to author a template as this process requires access to the admin api to gather all of the necessary details to re-create the view.

[2019-06-17 20:06] jmhauck commented on #45
@MikeTschudi  @chris-fox want to make sure I'm not missing a consideration here. Tables that are a part of a feature service should already be handled as of pull request #28. Does this have another facet?

[2019-06-17 20:10] chris-fox commented on #45
@jmhauck If a feature service only has a single table in it, It displays as a Table in the item details, but I believe the item type is still Feature Service. I think we just wanted to confirm this was supported, but I believe it should behave the same.

[2019-06-17 20:16] #37 closed

[2019-06-17 20:16] #34 closed

[2019-06-17 20:17] jmhauck commented on #45
@chris-fox cool, I'll confirm

[2019-06-17 21:23] jmhauck commented on #45
@chris-fox this is supported with the work that came in with pull #28

[2019-06-17 21:23] #45 closed

[2019-06-20 18:09] chris-fox opened #56 "Add Web Mapping Application item with simple url reference"
We have recently started delivering "Getting to Know" story maps with the solution as essentially the help for the Solution. We don't want to clone the story map, but rather are just delivering a Web Mapping Application with its url set to our story map in our try it live org. So this is essentially a really simple item with no data and a url reference.

[2019-06-20 18:16] MikeTschudi opened #57 "Add Experience Builder type"
Type is "Web Experience"

[2019-06-20 18:31] chris-fox opened #58 "Add Support swizzling of feature services in Pro Project Package type"
In some cases we will be shipping hosted feature services with Pro Project Packages. We need to be able to clone the feature service and the Pro Project Package and swizzle the service references in the package. A Pro Project is a 7 zip containing a series of json and xml files. We need to be able to extract, modify and recompress so the resulting package references the new feature services in the

[2019-06-20 18:34] chris-fox opened #59 "Use org's default extent for item extents and feature service initial extent"
When deploying a solution any new items and feature service/view's initial extent should be set to the default extent of the organization/portal.

When implementing this consider we may want to make this an optional parameter to keep the original extent during the deployment, but the default behavior should be to use the org's extent.

[2019-06-20 20:53] chris-fox commented on #59
Also just remembered this is a property that Hub templatizes

[2019-06-24 15:46] chris-fox commented on #36
Verified

[2019-06-24 16:41] chris-fox commented on #37
Verified

[2019-06-24 16:41] chris-fox commented on #34
Verified

[2019-06-24 16:41] chris-fox commented on #45
Verified

[2019-06-24 16:49] chris-fox opened #61 "Web AppBuilder Apps not swizzling web map"
To Repro:

1. Deploy the Election Outreach solution
2. Edit the Election Polling Places app
3. Notice on the map tab the web map is still pointing to the original in deployment org.

![image](https://user-images.githubusercontent.com/6796763/60036951-61101380-967e-11e9-847a-69a44e078ffc.png)

[2019-06-24 16:54] chris-fox opened #62 "Web AppBuilder app logo displaying as broken after deployment"
To Repro:

1. Deploy the Election Outreach solution
2. Edit the Election Polling Places app
3. Notice the logo is broken in the upper left corner of the app.

Web AppBuilder stores the logo as an app resource when it is uploaded, This is referenced in the item's data from a logo property. It looks like the base url needs to be update to the new org and the itemId is not being properly replaced.

"

[2019-06-24 18:44] chris-fox commented on #43
@MikeTschudi, the first part in regards to not saving the code attachment with the template is working well, but I am not seeing the code attachment being created during the deployment. To repro deploy Election Outreach, there are 3 web appbuilder apps and I am not seeing code attachments for any of the apps.

[2019-06-24 19:59] chris-fox opened #63 "Need to resolve organization full url to avoid issues in certain applications"
For app items the item url is being templatizing as:

**{{organization.portalBaseUrl}}**/apps/CrowdsourcePolling/index.html?appid={{e3e02b6094144ea29741e33e4c7277d8.itemId}}

When I deploy the item it becomes something like:

https://www.arcgis.com/apps/CrowdsourcePolling/index.html?appid=8b9585982bd44c419757bbe2c9a8004c

This is causing issues in some applications when I attempt to configure the

[2019-06-24 20:12] chris-fox opened #64 "Failure creating joined view in Elections Performance Dashboard"
To Repro:

1. Deploy the Election Performance Dashboard
2. View the created items, notice there is an item called VoterSatisfactionSurvey_locations_{GUID}.

This item should be renamed to VoterSatisfactionSurvey_locations, but if you inspect the layer it is an empty view. It looks like at some point there is a failure attempting to define the layer in the view and as a result the item isn't rename

[2019-06-24 20:49] chris-fox opened #65 "Templatize Feature Service item data"
Similar to the web map, pop-up and other layer settings can be persisted with the feature service (and views) in the item data. We need carry this information over in the solution template and when deployed because when not explicitly defined in the web map, the feature layer pop-up info will be what is shown in the web map or apps.

You can test this using the ElectionGeography feature service de

[2019-06-24 21:00] chris-fox opened #66 "Add Support for Groups"
Need to support templatizing and deploying groups. Specifically we are using them for Web Mapping Application group templates like Crowdsource Reporter and Crowdsource Manager and for Workforce projects.

[2019-06-24 22:07] MikeTschudi commented on #47
Also workforce projects and their groups

[2019-06-25 12:49] chris-fox commented on #66
After deployment and creation of the groups we need to share the new items previously shared with the group with the new group.

[2019-06-26 17:43] MikeTschudi commented on #43
Fixed in commit c92dc06d3e9a77342a8c277249bfe3ce8a77b395

[2019-06-26 18:02] chris-fox opened #69 "Feature Service Object ID field is being created with a non-unique index"
I have the same issue in my python code, but when I create the feature service using the templates in Online it is created successfully with a unique index. Having a unique index is important in some workflows, for example when appending data through the item details can fail if there is no unique field index.

We should work with the hosted feature service team to understand how we pass the field

[2019-07-05 22:48] MikeTschudi commented on #43
Fixed with PR #68

[2019-07-15 19:00] chris-fox commented on #43
@MikeTschudi, one more thing I forgot to mention here. In order for it to produce the desired experience you need to create a WMA2Code relationship between the web appbuilder app and the code attachment:

https://developers.arcgis.com/rest/users-groups-and-items/relationship-types.htm

The best way to do this is in the addItem call for the Code Attachment by specifying the relationshipType and the

[2019-07-25 20:09] chris-fox commented on #35
Verified

[2019-07-25 20:09] #35 closed

[2019-07-25 20:12] chris-fox commented on #64
Verified

[2019-07-25 20:12] #64 closed

[2019-07-25 20:12] chris-fox commented on #65
Verified

[2019-07-25 20:12] #65 closed

[2019-07-25 20:17] chris-fox opened #73 "Solution failing to deploy with Console error in createItemWithData"
@jmhauck I just encountered this one. I see it when attempting to deploy Election Outreach, the console error happens relatively quickly and it keeps good for a little bit but then just stops and doesn't complete the deployment.

![image](https://user-images.githubusercontent.com/6796763/61905518-4c31d480-aef7-11e9-808e-e50f2ec0ef57.png)

[2019-07-25 20:32] chris-fox opened #74 "ItemID property in Map Widgets of Dashboard are not be substituted with variable during Solution creation"
Deploy Election Results and open the resulting Election Results Dashboard. It is populated with data because it is incorrectly referencing the old web maps.

In the template for the Dashboard its data has a Widgets collection and there are 2 widgets of type mapWidget. Each of these widgets has an item id property that is has not been swapped out with the correct web map variable.

[2019-07-26 18:30] jmhauck commented on #73
@MikeTschudi please check this commit out. Not sure if you had another thought for this and why copyFilesToStorageItem was returning a boolean. I switched it to return a string array of the resource names. Also changed generateStorageFilePaths to specifically check if it's defined and has the map function . In the cases where boolean true was returned for resources it could get past the upfront as

[2019-07-30 15:11] MikeTschudi commented on #73
@JMHauck  I didn't have a need for the names yet, so took the simpler route. But we'll want them for status reporting and error recovery, so thank you for the changes.

[2019-08-01 16:33] MikeTschudi commented on #43
@chris-fox, thank you for reminder

[2019-08-05 15:51] jmhauck commented on #69
Just wanted to add a note here. The fix for this was from core and is only on Devext at this point.

[2019-08-05 21:16] jmhauck commented on #59
@chris-fox If the spatial reference of the ORGs defaultExtent is different than that of the feature service should I be switching it as well?

[2019-08-06 13:33] chris-fox commented on #59
I believe the org extent will only ever be WGS 84. We should keep the spatial reference of the service by project the WGS 84 extent into the spatial reference of the service and use that as the service initial extent.

[2019-08-07 14:05] chris-fox commented on #57
Did some research on this. When authoring an Experience as a draft, the configuration is stored as a resource of the item 'config/config.json'. Ultimately when you 'publish' the experience the configuration is stored in the item data itself.

Initially I am thinking we only worry about the 'published' experience. I am not really seeing a good scenario where someone would want to templatize the pub

[2019-08-19 13:56] chris-fox commented on #69
Verified on Devext

[2019-08-19 13:56] #69 closed

[2019-08-19 14:00] chris-fox commented on #73
Verified

[2019-08-19 14:00] #73 closed

[2019-08-19 14:13] chris-fox commented on #59
@jmhauck, I tested this today and found the item extent wasn't being templatized when I use the Create Solutions app. So when I deploy the extent is being set to the same as it was previously in the deployment org. It looks like the latest changes from the app where pushed over. So I am not sure why this isn't working.

[2019-08-19 14:16] chris-fox commented on #74
Verified

[2019-08-19 14:16] #74 closed

[2019-08-19 14:33] chris-fox opened #86 "Need to templatize Ops Dashboard dataset references"
Operations Dashboard allows you to reference data sources outside the web map as standalone sources. We need to templatize these during the solution creation as well.

A datasource reference will look like below and can be found in the Widgets collections as well as the selectors within the Header or Left Panel.
                                    "dataSource": {

[2019-08-19 15:06] chris-fox commented on #61
Verified

[2019-08-19 15:06] #61 closed

[2019-08-19 15:07] chris-fox commented on #62
As per conversation with @jmhauck, we also want to check other urls are being properly swizzled in WAB. There are a lot of references to services in the json as well that need to be templatized and swizzled.

[2019-08-19 15:55] chris-fox commented on #59
@jmhauck, did some more testing, I found the feature service initial and full extent are being templatized. However, when I deploy to our dev our (https://arcgis4localgov2.maps.arcgis.com/) I am not seeing the correct extent applied, it should be around Naperville, this is what the Pro deployment tool produces:

XMin: -9821384.71421798
YMin: 5117339.12309
XMax: -9797228.38471584
YMax: 5137789.3995

[2019-08-21 17:53] chris-fox opened #87 "Election Management solution failing to create"
Using the Create application I am logging into the Local Gov Deployment org and attempting to create a solution for Election Management. It gets about 90% through the creation and then stops. Looking at the debugger I don't see any error reported in the Console or any failed requests. Not sure what is causing this issue, but something unique about this one is it has a Workforce Project.

http://ec

[2019-08-21 19:23] chris-fox opened #88 "Failing to create Feature Service (Park Locator)"
Attempt to deploy Park Locator (3b81c7134294433baa8b615b30845920), watching in console I am seeing an error during the createService call. The same service is deploying using the python code, so I am not sure what in the createService call the server doesn't like.

[2019-08-23 21:53] chris-fox opened #90 "Feature Layer View definition issues"
Discovered a couple issues with the definition of views. To repro deploy 05ad40176eca46b28b6fc99bc55835c1

1. Variables for viewDefinitionQuery and definitionQuery are not being replaced:
"viewDefinitionQuery" : "({{02d58f8ad9fa4cc497f95a319af14b0d.fieldInfos.layer0.fields.funded}} = 'Yes') AND ({{02d58f8ad9fa4cc497f95a319af14b0d.fieldInfos.layer0.fields.projtype}} = 'Water Distribution') AND ({{0

[2019-08-30 15:42] jmhauck commented on #59
Noticed an issue with this when using private orgs. Have a pull in the resolves it. Will move it back once that is merged.

[2019-08-30 15:44] jmhauck commented on #33
This is dependent on #47

[2019-09-05 13:33] chris-fox commented on #43
Verified

[2019-09-05 13:33] #43 closed

[2019-09-05 13:43] chris-fox commented on #62
Verified

[2019-09-05 13:43] #62 closed

[2019-09-05 14:20] chris-fox commented on #59
@jmhauck, I found the item extent is incorrect it looks like you are switching the XMin and XMax. When I manually edit the item in ago-assistant and switch the xmin and xmax it is correct.

Example:

    "extent": [
        [
            -88.0099999998562,
            41.7080000000663
        ],
        [
            -88.22699999983698,
            41.84499999991977
        ]
    ],

When you pass

[2019-09-05 14:35] chris-fox commented on #90
Verified

[2019-09-05 14:35] #90 closed

[2019-09-05 15:36] jmhauck commented on #59
@chris-fox  Dang...I just saw the order and not the comma delimited bit. Interesting that it switches things around when you set as:

`orgExtent: [
                    [wgs84Extent.xmin, wgs84Extent.ymin],
                    [wgs84Extent.xmax, wgs84Extent.ymax]
                  ]`

Will get it switched.

[2019-09-09 14:05] chris-fox commented on #59
@jmhauck, I am seeing the  extent now being correctly passed as a comma delimited text, but it looks like the xmin and xmax are still being passed swapped which is producing the incorrect results.

extent: -88.0099999998562,41.7080000000663,-88.22699999983698,41.84499999991977

-88.226 < -88.009

[2019-09-09 15:11] chris-fox opened #101 "Reduce the amount of information persisted in deployed solution item data"
@MikeTschudi, @jmhauck, Currently in a deployed solution we are still storing the full item details and data definition with the deployed solution. I think we should minimize this to the minimum required to support the solution contents tree. At this point it seems like all that is would be the templates array with a series of objects with an item id and a list of dependencies.

Thoughts?

[2019-09-09 15:27] MikeTschudi commented on #101
That was an idea that we started with (it's even in the main README!) but moved away from; I don't recall why. OK with me to reduce the deployed solution item.

[2019-09-09 15:34] jmhauck commented on #101
Same here...I'm cool with reducing it

[2019-09-09 20:58] MikeTschudi opened #102 "Solution not storing file content"
E.g., for CSV, PNG, etc.

[2019-09-09 20:58] MikeTschudi opened #103 "Deployment not applying thumbnails to created Solution item or content items"

[2019-09-09 23:03] jmhauck commented on #59
Holy shnikes. I believe this is it now. I thought it had switched something around previously when I submitted in the wrong format. I should have looked closer.

[2019-09-16 13:18] chris-fox commented on #86
I think the issue is right now this variable is equivalent to the entire Feature Service:

{ab766cba0dd44ec080420acc10990282}

What I am saying is we need unique variables for every layer/table within a feature service. The way we have constructed it now it works very well when we are always creating all the layers and views. We need to allow users providing their own layers which may be organized

[2019-09-19 19:22] chris-fox opened #108 "Add the ability to reference a sub layer of a feature service item directly when templating"
We need to reference the layer directly in the template as the ID of the layer may change when a user is allowed to browse to their own layer as an input to the deployment.

For example instead of referencing the url of a feature layer in a web map like this:

"{{33298a2612ba4899adc41180c435425f.url}}/1"

We should reference it like this:

"{{33298a2612ba4899adc41180c435425f.layer1.ur}}"

This is

[2019-09-19 19:36] chris-fox opened #109 "Updated approach to searching for fields within items during templating"
For some items, Web Maps, Feature Layers, We can rely on the consistency and availability of a spec to do a targeted search of field references to replace with appropriate variable during templating.

For other items, the variability of the spec and inconsistency means we need to rely on our best effort search via a regular expression. This may mean in some cases we might swap out with a variable

[2019-09-19 20:42] chris-fox commented on #59
@jmhauck, as per our conversation I would like to make the following changes to the variables

Item default extent when templatized:
{{organization.defaultExtent||[[-88.2437, 41.7083],[-88.0742, 41.7864]]}}

The '||' indicates the fallback value for a property. In this case it is the original extent of the item and allows us to optionally keep the original extent when deploying.

In addition, I th

[2019-09-20 14:08] chris-fox opened #110 "Templatize spatial reference of feature services to allow users to optionally provide their own spatialReference"
For any spatialReference object in feature services we should replace with the following variable:

{{spatialReference||{"wkid" : 102100, "latestWkid" : 3857 }}}

The fallback value would be the original spatial reference of the service. If the user provides a spatialReference for the deployment we can apply it when the service is created otherwise it uses the original spatial reference.

[2019-09-23 14:29] chris-fox opened #111 "Updated item id variable reference to be consistent with Hub initiative pattern"
Change references from:

{{9cb8ea9deb79451cad8899351680af0c.id}}

To

{{9cb8ea9deb79451cad8899351680af0c.itemId}}

[2019-09-23 14:38] chris-fox opened #112 "Add Python Notebook item type"
New item type in ArcGIS Online and Enterprise. A .ipynb is stored with the item which is a simple text item that need to be copied when cloned.

Would like to explore templatizing any item id references in the .ipynb and swizzling when we deploy the notebook as we plan on using this item to automate workflows with related items as part of a solution.

[2019-09-27 19:58] chris-fox opened #115 "Support the ability deploy solutions with localized strings (Field aliases, pop-ups, app titles, etc.)"
All of out apps support localization, but info in the feature layers, maps and apps contain strings that are not localized when the solution is deployed.

Could we swap out the strings with variables that could be replaced during deployment from the appropriate language file in the resources?

I don't know we pull out these strings automatically from the item json, maybe this is a more manual proc

[2019-10-15 15:00] MikeTschudi opened #121 "Metadata not copied from solution item to deployed item"

[2019-10-15 15:04] MikeTschudi commented on #103
Added via 1113f20970c3bf845fa6b0118178bd4c5423ff0b

[2019-10-15 15:06] MikeTschudi opened #122 "Low-level errors during deployment are ignored"
If there's an error during a low-level operation, parallel work is cancelled.  Two results:  error is not handled and deployment stalls.

[2019-10-15 15:12] MikeTschudi opened #123 "Question: source to be used for deploy.commonid & deploy.version"
Currently, individual items in a solution can have deploy.commonid & deploy.version defined. The group that contains the items used to construct a solution also has deploy.commonid & deploy.version defined.

When deploying a solution, should a single deploy.commonid & deploy.version be used, such as that of the group?  Do we require that all component items have matching deploy.commonid & deploy.v

[2019-10-15 15:15] MikeTschudi opened #124 "Deployed WAB has unresolved template variable"
At the end of the WAB template is the template variable "appItemId", which is not replaced during deployment.

[2019-10-21 12:53] chris-fox opened #127 "Create utility app to copy template between portals"
During development we will be authoring solution templates in one org and need a way to copy the template to a different org/portal to be staged for the deployment gallery.

So we need a site that has 2 logins, source and destination. We then need to be able to select a template in the source portal and copy it to the destination portal.

[2019-10-21 13:10] chris-fox commented on #103
Verified

[2019-10-21 13:10] #103 closed

[2019-10-21 13:35] chris-fox opened #128 "Support templatizing and deploying item types with a download"
For any item types with a download we need to store the download as a resource of the solution item template and then support deploying that with the new created item as it download. Examples:

ArcGIS Pro Project Package
ArcGIS Pro Add In
Desktop Add In
Desktop Application Template
Geoprocessing Sample
Microsoft Word
PDF

[2019-10-21 13:35] chris-fox commented on #32
Duplicate of #128

[2019-10-21 13:35] #32 closed

[2019-10-21 13:38] chris-fox commented on #128
@MikeTschudi, based on your comments on the Election Outreach project package failing to open in Pro 2.4, I tested it as well and found the resulting Pro Project item had no download. I checked the template and the pro project was not being stored in the item's resource, all I found were pngs for the thumbnails and other item resources.

I wanted to capture this issue to handle all download item t

[2019-10-21 13:39] chris-fox commented on #88
Verified

[2019-10-21 13:39] #88 closed

[2019-10-21 14:09] chris-fox commented on #108
@jmhauck, noticed with this changes we are using the new optional pattern for the layer name, but noticed the original name is being changed to lower case. Could we keep the case of the layer name?

{{9cb8ea9deb79451cad8899351680af0c.layer0.name||voting locations}}

[2019-10-21 14:24] chris-fox commented on #108
@jmhauck, there seems to be some issues with the field name template replacement in WAB. Deploy the Election Outreach solution and explore the json of the My Elected Representatives app. There are still a lot of variables stored in the app json. Some of them seem to have been changed to:

{{9cb8ea9deb79451cad8899351680af0c.layer2.fields.{{9cb8ea9deb79451cad8899351680af0c.layer0.fields.name.name}}.

[2019-10-21 14:36] chris-fox commented on #111
Verified

[2019-10-21 14:36] #111 closed

[2019-10-21 14:42] chris-fox commented on #86
@jmhauck

With the new pattern I am seeing the following in the template:

"dataSource": {
   "type": "featureServiceDataSource",
   "itemId": "{{33298a2612ba4899adc41180c435425f.itemId}}",
   "layerId": 0,
   "table": false
}

Instead of resolving the item id from the Feature Service in general, we should get it from the layer as the layer may be in different feature services. We should add a var

[2019-10-21 14:48] chris-fox commented on #108
@jmhauck, when we templatize a web map or any other reference to a feature layer in a feature service we should use the itemId reference off the layer rather than the service. This is because at deploy time a user could provide 3 unique services when our original solution had 1 service with 3 layers.

So instead of:

"url": "{{ab766cba0dd44ec080420acc10990282.layer0.url}}",
"itemId": "{{ab766cba0d

[2019-10-21 14:51] chris-fox commented on #102
Verified

[2019-10-21 14:51] #102 closed

[2019-10-21 16:07] chris-fox commented on #123
@MikeTschudi, we don't need to worry about the individual items and their commonid and version tags.  A solution will have a single commonid and version. I am going to spend sometime this week thinking fully about the id and versioning workflow and discuss in a future meeting.

[2019-10-21 16:07] #123 closed

[2019-10-21 21:17] chris-fox opened #129 "Ability to define user variables and map to existing services/items in the org"
@MikeTschudi, @jmhauck

The Hub team uses the pattern below to define their 'indicators'. These indicators are variables that need to be provided prior to deployment. For hub you can only define layer indicators, but I think we could use a similar pattern to define other custom variables. We could interrogate these variables and use them to present the UI for configuring the deployment of the solu

[2019-10-31 17:45] MikeTschudi commented on #127
Added example for this via commit 6411c13084e85db9d7ee91acfa16cd9c77796685

[2019-11-01 20:58] chris-fox commented on #129
@MikeTschudi, @jmhauck, as per our conversation this is how I propose we handle the shared use of items across solution templates:

Each template in the solution item has an "itemID' property:

"templates": [
        {
            "itemId": "2d2d176f5f3e43a985a31649e213aaf4",
            "type": "Web Mapping Application",

This is the same item id as the original item the template was created from

[2019-11-01 21:00] chris-fox commented on #129
@MikeTschudi , @jmhauck, related to above I notice the template also has a property called "key". How is this created when the item is templatized and how is it used in the deployment?

"templates": [
        {
            "itemId": "2d2d176f5f3e43a985a31649e213aaf4",
            "type": "Web Mapping Application",
            "key": "yhk8oua3",

[2019-11-15 20:25] jmhauck commented on #59
@chris-fox we currently get the extent from the org when deploying. What will trigger if that would be used or if the values from the source service should be used?

[2019-11-15 21:34] chris-fox commented on #59
@jmhauck, I think for now we can remove the optional parameter here and just use the org default extent. I thought initially I might want to make this a configuration option prior to deployment, but don't think we need to expose this.

[2019-11-18 15:29] chris-fox commented on #108
Verified

[2019-11-18 15:29] #108 closed

[2019-11-18 15:36] chris-fox commented on #128
@MikeTschudi, could you take a look at this issue next? I am not finding the download items types are properly having their downloads stored as resources in the template and as a result it is creating new items with no downloads.

[2019-11-18 17:14] MikeTschudi commented on #127
@chris-fox, url is the same; nightly update script wasn't configured to build examples. It now does

[2019-11-18 18:18] jmhauck commented on #59
@chris-fox ok...thats they way it currently is, I had just written code that would support the idea of maintaining the source extent as an optional static value so it wasn't in there yet.

As is...when we deploy we get the extent from the portal we are deploying to. That extent is used as the items extent as well as the extent, fullExtent, and initialExtent for any services that are created.

The

[2019-11-18 21:47] chris-fox commented on #59
@jmhauck, per our conversation I would recommend we do the following:

1. Move **defaultExtent** under organization. This will reflect the same extent object returned from the portal.self call. We will make this update in the future to reserve "organization" to reflect the portal.self properties and construct this automatically in the template dictionary.

2. Add a new property to the dictionary c

[2019-11-18 21:59] chris-fox opened #138 "Pull all properties from portal/self under "organization" and logged in user under "user" in the template replacement dictionary"
In the template replacement dictionary we should reserve the "organization" object for all the properties returned from the target portal/self call.
https://developers.arcgis.com/rest/users-groups-and-items/portal-self.htm

This will allow us to support any property defined by the portal during template replacement. For example today we have something like:
[code]
instead we the helper urls should

[2019-11-19 18:43] chris-fox commented on #39
@chris-fox, to test

[2019-11-19 18:48] chris-fox commented on #124
@chris-fox To provide more details

[2019-11-21 18:02] jmhauck commented on #124
@chris-fox I took a quick look at the WAB source and this item id is used when you save changes to your WAB app and also used as a part of app registration.

[2019-11-21 18:04] jmhauck commented on #63
@chris-fox what do you think we should do with the variable? Seems like if nothing else we'd want to move it out of organization.

[2019-11-21 19:19] chris-fox commented on #40
Verified

[2019-11-21 19:19] #40 closed

[2019-11-21 20:10] chris-fox commented on #59
Verified

[2019-11-21 20:10] #59 closed

[2019-11-21 20:14] chris-fox commented on #124
@jmhauck, per our conversation whenever we templatized this property lets always set it to the item id of the template. This will handle cases were we have some apps that are incorrectly set to the wrong item id (bug in my python cloning code).

[2019-11-21 20:36] chris-fox commented on #63
@jmhauck, as per our conversation earlier lets move it to the root of the replacement dictionary.

[2019-11-22 18:03] chris-fox commented on #39
Verified

[2019-11-22 18:03] #39 closed

[2019-11-22 18:09] chris-fox commented on #138
Verified

[2019-11-22 18:09] #138 closed

[2019-11-22 18:10] chris-fox commented on #63
Verified

[2019-11-22 18:10] #63 closed

[2019-11-22 18:25] chris-fox commented on #86
@jmhauck, i tested this and found that the template is being created properly but when deployed the variable for the layerId isn't being replaced in the json. For example this is the result:

                        "type": "serviceDataset",
                        "dataSource": {
                            "type": "featureServiceDataSource",
                            "itemId": "5a2a47a0f659453

[2019-11-22 20:03] jmhauck commented on #66
@chris-fox do you see a particular example of this not working? The first one I tried was d915488a197e4c7eb7186c6650c65e17 from the localdeployment org. It looks like only the map was shared with the group and on deployment I see the map being shared with the newly created group.

Also looks like the solution item display isn't correct as I only see the application listed and nothing else. Seperat

[2019-11-22 21:11] jmhauck commented on #86
@chris-fox I see...for layerId = 0 it must be evaluated as false somewhere down in adlib...will look at the options

This shows **1**
[code]

This shows **{{id}}**
[code]

[2019-11-22 22:13] jmhauck commented on #86
I submitted a PR to adlib...we'll see if they take it

[2019-11-25 14:39] chris-fox commented on #66
@jmhauck, yes it does appear to be sharing the items with the groups properly. The citizen problem reporter item in the Deploy Solution gallery shows a more advanced case as it has 8 web maps shared with the group. That aspect is working well.

The issues I am seeing that I would like to address as part of this issue to call it complete:

1. Fix how the dependencies are listed in the template and

[2019-12-02 19:26] jmhauck commented on #86
The PR was merged today

[2019-12-05 22:47] jmhauck commented on #66
@chris-fox in regards to the dependecy issue...at one point we added logic to filter out any items that are referenced in a solution item but no longer exist. To verify if an item exists I added a search call to look for the referenced itemIds but it only searchs items and not groups. WIll need to add a group search as well.

[2019-12-06 16:09] jmhauck commented on #66
The fix for the dependecy issue was merged last night. Not sure of the timing but I'd think it will be in devext today. Will check a little later on in the day.

[2019-12-06 16:20] chris-fox commented on #66
That's great @jmhauck, thanks for the quick follow-up on this.

[2019-12-09 20:28] jmhauck commented on #66
The fix is on devext.

[2019-12-11 16:44] jmhauck commented on #56
@chris-fox do you know of one of these in the deployment org? The getting to know web apps I'm seeing in there all have broken links.

Will the determination be made based on some specifc tags or something specific within the url?

[2019-12-11 18:01] chris-fox commented on #56
@jmhauck, the getting to know are broken because they are using shortlinks which is currently broken across Esri. You could always add you own item and just point it to esri.com or some other url.

[2019-12-11 18:40] jmhauck commented on #56
@chris-fox thanks...I missed that comment earlier.

So am I just supposed to check if it's a tryit url to know if it should be handled like this?

[2019-12-11 18:45] chris-fox commented on #56
@jmhauck, no. If it is a Web Application with no item data, it will have no dependencies and the url doesn't need to be swapped out with any variables. So you don't need to inspect the url, just test if the item's data is empty.

[2019-12-11 18:49] jmhauck commented on #56
@chris-fox ok sounds good

[2019-12-16 16:52] jmhauck commented on #47
@MikeTschudi I went through workforce projects a bit more and all seems well with the exception of needing this. No more planned changes for workforce at the moment.

[2019-12-16 16:57] jmhauck commented on #87
@chris-fox this failure no longer occurs. Two things I see after create though is that it will fail on deploy due to the need for circular dependecy support and that the item display is not correct as it doesn't handle circular dependencies either. Will log an issue in for the portal app for this.

[2019-12-16 19:34] chris-fox commented on #47
@MikeTschudi, I created a sample Template using the R3 locator solutions. It is called R3 Locator in the deploy solutions app:

https://localdeployment.maps.arcgis.com/home/item.html?id=4ee28fce27e64c75a4c44a217f62b7d2

It has 3 Web Applications (WAB), Each apps web map references (via the pop-up) another 1 of the apps and in one case a web map references the other 2 apps. This is a good test case

[2019-12-16 19:37] #42 closed

[2019-12-16 19:37] chris-fox commented on #42
Don't need to support

[2019-12-16 19:46] chris-fox commented on #101
@jmhauck, Could we simplify the deployed Solution item to the json below? Each template has an itemId, type, and dependencies property. Ideally we wouldn't need the empty item propety, but I find the Solution Contents fails to load without it. Maybe we could remove this requirement for March?

{
    "templates": [
        {
            "itemId": "96c86ef8e30b45c0985addcfce2647d9",
            "typ

[2019-12-17 15:14] chris-fox commented on #124
@jmhauck, I just tested this with the latest create app using the Election Outreach solution and I am still seeing the same issue. the appItemId is still pointing to the wrong item id variable. Could you check if you code made it to the latest app with the merge?

[2019-12-17 15:18] chris-fox commented on #128
@MikeTschudi, I created the Election Outreach solution today and found that the Solution Icon was being templatized and the Code Attachments for the WAB apps were also being templatized. I am assuming this is related to the work with this issue. Wondering if we could ignore Code Attachments during solution creation (We are already handling creating them for WAB during deployment). Also could we ig

[2019-12-17 15:23] chris-fox commented on #86
Verified.

[2019-12-17 15:23] #86 closed

[2019-12-17 15:28] chris-fox commented on #56
Verified

[2019-12-17 15:28] #56 closed

[2019-12-17 15:35] chris-fox commented on #87
Verified

[2019-12-17 15:35] #87 closed

[2019-12-17 16:05] jmhauck commented on #124
@chris-fox I should have read your comment closer. The change I made only affects deployment and sets the appItemId to be that of the newly created web app regardless of what's in the template.

[2019-12-18 19:16] MikeTschudi commented on #128
@chris-fox, do I understand correctly that we'll not use the deploy.thumbnail experimental approach for Solution Icons? No more special-case items in group.

[2019-12-18 19:59] chris-fox commented on #128
@MikeTschudi, I do still want to use the deploy.thumnail tagged item to generate the thumbnail for the Solution Item. The issue is in a recent update I found it is not doing this (The thumbnail is not being set) and it is also templatizing the item in the resulting solution item. I don't want this special thumbnail item included in the Solution Item templates. See highlighted below:

![image](http

[2019-12-18 20:24] MikeTschudi commented on #128
Got it--thanks.  I removed it as part of creation rewrite and will restore it.

[2020-01-02 14:17] chris-fox commented on #124
Verified

[2020-01-02 14:17] #124 closed

[2020-01-02 14:25] chris-fox commented on #101
Verified

[2020-01-02 14:25] #101 closed

[2020-01-02 19:02] chris-fox commented on #47
@jmhauck, I updated the R3 template so that the three web maps now have their corresponding circular dependencies lists in a circularDependency property. You can use this to validate this work.

[2020-01-13 19:53] chris-fox commented on #110
@jmhauck, could you take a look at this one. We don't need to do anything special when creating the template. I just want to allow template authors to manually insert this variable to allow the spatial reference to be customized on deployment. Could you look into this to see if there is anything special we need to do to support this?

[2020-01-15 00:01] jmhauck commented on #110
@chris-fox Could we chat on this when you have a few? Maybe I’m missing something. Currently the template dictionary we use for replacement is built during deployment. Will the end user deploying have some opportunity to control values that are defined in the template dictionary? Does this tie into the idea of what hub does?

In general I'm not seeing a clean way to do exactly as listed above. I t

[2020-01-15 14:17] chris-fox commented on #110
@jmhauck, sorry I was out of the office yesterday. We can talk more today, I do have a plan for users to be able to specify their own parameters prior to deployment and we would need to be able to pass the api when deploying a template. So we just need to think about what we should be able to pass. This was similar to our conversation about users passing in their own extent when deploying a templa

[2020-01-16 22:03] chris-fox opened #159 "Add support for QuickCapture projects"

[2020-01-16 23:29] jmhauck commented on #159
@chris-fox the project stores a property with an adminEmail. Do we want to update this with the email of the user that is deploying?

[2020-01-17 14:07] chris-fox commented on #159
@jmhauck, yes please. We did the same with the python cloning api.

[2020-01-22 16:44] jmhauck commented on #110
This allows us to do the following...

Inside one of the templates we can create custom templatization options:

[code]

For any swapping to take place the solution items data will need to contain a supporting params object:

[code]

After the inital params object the structure is dynamic. The value/type pair is an example of what we could consider to support both the value swapping as well as the

[2020-01-22 20:41] chris-fox opened #163 "Add post-processing for item templates that still have variables after initial create"
In #47 we discussed adding a new property called circularDependency to help define a dependency to another item that shouldn't fall in the dependency tree or impact the order that items are created.

This was important for things like Workforce projects where the Project referenced a Group, but the Project was also shared with the Group. I am ok with doing a specific thing for workforce projects b

[2020-01-27 19:57] shoe913 commented on #47
Verified; app and layer ids switch as expected.

Though the layer id's and apps switched, the link created by the switch did not work. This is because the app tested (Adopt-A-Catch Basin Dashboard linking to Adopt-A-Catch Basin Manager) needs to pass an organization url instead of a generic "maps.arcgis.com".

This solution requires the connected app not be shared publicly and as such the full org

[2020-01-27 20:23] chris-fox commented on #47
@shoe913, I think we should just update the json of the Solution template to point to the Deployment app rather than the TIL app. I think this is a simpler story than trying to mix 2 different urls.

The key to remember is the long term plan is to not provide a pro add-in to deploy solutions, everything will be deployed via this new Deployment app. So we don't need to worry about the way we use to

[2020-01-27 21:32] shoe913 commented on #47
@chris-fox, Switching the Arcade is a much more elegant solution. I totally forgot we could hijack the html in this way before deployment.

Since we can do that on the solution item, and keep the current solution "as is" for the SDT until we are 100% online, everything is working correctly.  I'll slide this over to complete.

[2020-01-27 21:33] #47 closed

[2020-01-27 22:17] shoe913 opened #170 "Links on Solution Contents go to original items"
After deployment, the links in the Solution Item's Contents section reference the original items, not the items deployed to my organization.

I would expect these to link to my items, not the items in the deployment org.

[2020-01-27 22:24] shoe913 commented on #66
Verified, name changes as needed, group icon comes through, and group  dependencies show up (in logical manner) for solution item.

Link for items is incorrect. This is not specific for solutions with groups.  See 170 for more information .

[2020-01-27 22:24] #66 closed

[2020-01-28 17:06] shoe913 commented on #33
Verified, workforce projects deploy.

[2020-01-28 17:06] #33 closed

[2020-01-28 18:06] chris-fox commented on #170
@jmhauck, there also seems to be a regression here related to issue #101.  Now the entire template definition is written to the deployed solution rather than the simplified structure with just the item id, type and dependencies.

[2020-01-28 18:38] chris-fox commented on #128
@MikeTschudi, I am not aware but I seem to be encountering a new issue w/ regard to deploying solutions referencing data items. When a solution has a template with a data item in it the deployment seems to stop before the final step of updating the final Solution item json, but seems to create everything correctly.

To repo deploy the "Election Results" solution from the test deployment app. I als

[2020-01-28 18:40] MikeTschudi commented on #128
@chris-fox, thanks; I noticed it, too, with last night's test runs.

[2020-01-28 21:00] shoe913 commented on #110
@chris-fox @jmhauck

Not 100% sure what I should be looking for in here. From the conversation above, it sounds like a UI may be needed to see the changes.

Currently my template item does not appear to have double brackets for a variable in the JSON. Would I expect to see double brackets or just standard JSON for spatial reference?

[2020-01-28 21:25] jmhauck commented on #110
@shoe913 yes, the goal would be to have some UI to support this. For now the only way you could test is to manually edit the solution item. I'd be happy to step through it a bit with you in a few if you like.

[2020-01-28 21:31] chris-fox commented on #110
I think we can just close this out and re-visit when we are ready to implement the user defined variables.

[2020-01-28 21:42] shoe913 commented on #110
Cool, will close this for now and revisit when we're ready for user variables.

[2020-01-28 21:42] #110 closed

[2020-01-28 23:56] shoe913 commented on #159
Verified, quick capture project deployed and changed recovery email address

[2020-01-28 23:56] #159 closed

[2020-01-29 20:48] shoe913 opened #171 "Data in other organizations can't be used in solution item."
Not sure if we have a plan for this.

Currently, we have many State and EM solutions in the state-em-deploy org and there are plans to have some of these migrated to localdeployment.maps.arcgis.com.

If those solutions are added as items to the localdeployment org and they reference groups or layers in a different organization (ie, a Reporter Configuration migrated to localdeployment, but group an

[2020-01-29 21:37] chris-fox commented on #171
@shoe913, it will be a requirement that when a user authors a solution template from items that they are either the owner of the items or admins in the org. This is because some items will require admin access in order to pull their full definition into the template. Items referenced from other orgs or without admin access should not be templatized and should be referenced as is, w/o being replace

[2020-01-29 22:13] shoe913 opened #172 "Include groups in Solution Item Contents"
Consider adding groups to Solution Items Contents -- similar to how a solution's contents are documented.

Solution Contents
- Items
   -  Workforce Project
      - Workforce Group
      - Dispatcher Map
         - Assignments Feature Layer
         - Workers Feature Layer
      - Workers Map
         - Location Feature Layer
         - Assignments Feature Layer
         - Workers Feature Layer

[2020-01-29 22:38] shoe913 opened #173 "Ignore Living Atlas Feature Services during templatization"
If a Living Atlas Layer is in a solution, the solution template cannot be deployed because the layer cannot be cloned. Deployment hangs indefinitely.

Sample: "Living Atlas Test"
https://localdeployment.maps.arcgis.com/home/item.html?id=3a052dbe96574a9ca37c3160c3a4269d

In the JSON, the URL parameter and ItemID are being turned into parameters

"operationalLayers": [
                    {

[2020-01-29 22:38] shoe913 commented on #171
@chris-fox

Thanks for the info. It looks like Living Atlas layers aren't behaving correctly. I've logged this as #173

[2020-01-30 00:12] shoe913 opened #174 "Support for Story Maps"
This is probably related to #56 .

Some solutions ship a story map as part of the solution and not just as a "Getting to Know" or "How to Configure". See Incident Briefing for an example.

https://solutions.arcgis.com/emergency-management/help/incident-briefing/

When these are deployed, the original maps in the deployment organization are being referenced, not the new items laid down with the sol

[2020-01-30 17:40] shoe913 opened #175 "Add ability to reuse items already created from the same template (ex. Feature Layer referenced in multiple solutions)"
If solutions share a common layer, the layer is deployed for each solution when they aren't deployed with the same solution item.

This same behavior occurs when a solution is deployed twice. This could have repressions depending on what we see the solution update pattern being.

[2020-01-30 18:17] shoe913 opened #176 "Icons for non GIS Items do not match in solution contents"
Icons for Word Documents and PDFs in the Solution Contents tree do not match the icons in the  contents section.

![image](https://user-images.githubusercontent.com/11777080/73477675-8fa74880-4349-11ea-96e5-bdfcb83343e8.png)

[2020-01-30 18:27] shoe913 opened #177 "Should Non-GIS content be referenced or copied?"
Not sure if there has been discussion on this already.

I added a word doc, PDF, PNG, and JPG to a group and made a solution item. When deployed, links to the original content were added to the organization.

If this method is used to deliver supplemental materials for a solution, would we want to clone these to the organization?

Depending on what the update pattern for a solution item is, I can

[2020-01-30 19:41] chris-fox commented on #176
Thanks Andy, This is something @jmhauck will have to look at in the item details logic for the Solution item.

[2020-01-30 19:48] chris-fox commented on #177
@shoe913, it should copy these item types to the user org. I tested your Non GIS solution and found the items were copied to my org. The Solution Item links to the deployment org items, but that is because of #170. The actual items created in my org I can download and view. Could you please verify you see the same.

[2020-01-30 19:49] #171 closed

[2020-01-30 19:50] jmhauck commented on #176
Interesting. I had also noticed the other day that something was off around here as the icon for notebook doesn't show at all.

[2020-01-30 19:58] chris-fox commented on #174
@shoe913, I think we need to do some more work with Story Maps and we should probably push until after June. Currently in the Pro add-in when we deploy Incident Briefing, it doesn't clone any of the maps or layers, just the story map and it continues to point to items in the try it live. The reason I didn't tackle it is every story map has a different spec.

I think with the new Story Map item typ

[2020-01-30 20:19] chris-fox opened #178 "Update logic for discovering Hosted Feature Service references in web map"
Currently in the web map for an operational layer the "itemId" property is optional. In addition, there is no assurances it accurately reflects the feature service referenced in the "url" property.

The "url" property is the most important property, it is required and will always correspond to the layer used in the web map.

When authoring a solution we should use the url property to query the fea

[2020-01-30 20:30] chris-fox commented on #173
@shoe913, Could you try changing that operational layer url property and itemId property back to what they were originally in the web map. Then for that template remove the 'f9e9283b9c9741d09aad633f68758bf6' reference from the depedencies. Finally remove the 'f9e9283b9c9741d09aad633f68758bf6' template from the templates array and save the changes to the json. When you deploy does it create the web

[2020-01-30 20:37] chris-fox commented on #173
@jmhauck, could you investigate what it would take to determine if the authoring user has admin access to the item (Is the owner or is an admin in the org the item belongs to). Then what would it involve to either not templatize the item or partially templatize it as an external resource depending on if this would need to before or after the depdencies and variables have been set on the parent ite

[2020-01-30 20:39] chris-fox commented on #174
@shoe913, this is another example I am guessing where if you edited the template and set the variables they would be swizzled properly and work after deployment.

[2020-01-30 20:40] chris-fox commented on #30
duplicate of #58

[2020-01-30 20:40] #30 closed

[2020-01-30 20:42] chris-fox commented on #48
In the June release we will rely on the solution author handling these references.

[2020-01-30 21:07] shoe913 commented on #177
@chris-fox

I do see the same thing. I brought this up because #170  threw me for a loop and I wasn't 100% sure what we would want for default behavior.

Since this is working as expected, I'll close this out.

[2020-01-30 21:07] #177 closed

[2020-01-30 21:23] shoe913 commented on #173
@chris-fox

Those changes did get the item to deploy correctly.

I agree, for the first release we can certainly have our folks manually make these changes to the JSON. Since we couldn't do this with the pro addin, I think only new solutions will need this and that will be a small number.

[2020-01-30 22:58] shoe913 commented on #174
@chris-fox

I think waiting for the unified template is a good idea for now.

I've tested the process and we can manually swizzle the story map to the newly deployed items.

I think this should be the pattern we follow for the few story map solutions we have for the initial release. Since there are so few, it will be easy to document the process or just simply do it on an as needed basis.

[2020-02-03 14:01] chris-fox commented on #173
@jmhauck, There is a property returned on the item called itemControl, it is optional. Per the documentation:

Values: admin (for item owner and org admin) | update (for members of groups with item update capability that the item is shared with)

So we need that property to be admin in order for the item to be something we turn into a template.

https://developers.arcgis.com/rest/users-groups-and-

[2020-02-03 17:51] shoe913 opened #179 "Look into Imagery in Maps"
Web Maps with custom imagery in them do not deploy.

I suspect this is an issue with creating the Solution Item because the JSON has this:

"error": "{\"success\":false,\"error\":{\"name\":\"ArcGISRequestError\",\"message\":\"HTTP 404: UNKNOWN_ERROR\",\"originalMessage\":\"UNKNOWN_ERROR\",\"code\":\"HTTP 404\",\"response\":{},\"url\":\"https://tiles.arcgis.com/tiles/piPfTFmrV9d1DIvN/arcgis/rest/ad

[2020-02-03 19:32] shoe913 opened #180 "Support for Tracker"
This is dependent on :  #173  #112 and maybe #129

When tracker is in an organization, a single layer is laid down and views are created off of this. New solutions using tracker employ notebooks to create views of this tracker layer.

Workflow for deployment would be as follows:
1) Check if Tracker Layer exists / if tracker is enabled in org
  - If not enabled, message that solution can't be deplo

[2020-02-04 00:34] shoe913 opened #181 "Should users be allowed to deploy solutions they cannot use?"
Using an account which does not have the essential apps bundle, I was able to deploy a QuickCapture project.

I can see the value in this for an organization where publishers / data collectors are not the same people and their roles and duties do not overlap.

Where I can foresee an issue is if the organization itself doesn't have the licensing to use an app such as Survey123, Workforce, or Collec

[2020-02-04 13:51] chris-fox commented on #181
@shoe913, its a good question. I think at this point the only requirement will be that you are at least a creator with publisher permissions which is the minimum to create items and publish feature services.

[2020-02-04 19:24] shoe913 commented on #181
@chris-fox , thanks for the the clarification. I am still concerned about organizations without specific apps deploying solutions they can't use. I can already see someone deploying a solution and then calling tech support because it isn't working.

Maybe this is something we can handle with the Solution Item Description. Since we will have full control over the items, maybe we simply add a discla

[2020-02-04 21:47] chris-fox commented on #181
@shoe913, we do plan to list these requirements in the Solution site documentation for the Solution that will likely be accessed from the learn more link in the item description. We are trying to reduce the amount of content we duplicate from the solution site help and the item description, but it is still TBD what we will be putting in the item description.

[2020-02-04 22:20] shoe913 commented on #181
@chris-fox , glad to know there is a plan in place to make sure everything is documented.

[2020-02-04 22:20] #181 closed

[2020-02-04 22:24] shoe913 opened #183 "Solution Item Thumbnails are not deployed"
When deploying a solution, the thumbnail used for the template item is not added to the deployed item.

[2020-02-04 23:01] shoe913 opened #184 "Dashboard Dependencies do not show up in Solution Contents"
![image](https://user-images.githubusercontent.com/11777080/73793629-9e339c80-475b-11ea-8600-b0238a9a021c.png)

[2020-02-04 23:04] shoe913 commented on #176
Just to add a little more to this, it looks like the icon for a hosted table isn't coming through either. It just shows up as a hosted layer.

[2020-02-04 23:39] shoe913 opened #185 "Support for HUB and Sites"

[2020-02-05 00:31] shoe913 opened #186 "'All Capital Projects' Solution Item doesn't fully deploy."
A few things going on here, not sure if they are symptoms or causes.

1) The solution has 15 apps, the template only shows 10 in the contents
- Overall, there are 61 objects in the JSON to be copied

2) Only apps have been shared with the group used for the item. Maps are showing up in the contents

3) Deployment seems to work (all apps, layers, and maps are copied) but, deployment seems to hang a

[2020-02-05 22:10] shoe913 opened #188 "Thumbnails for deployed items are not copied"
When deploying solutions, the thumbnails for ArcGIS Pro Packages are not copied.

[2020-02-06 19:45] chris-fox opened #190 "Copy "properties" property into template and when deployed."
We need to persist the "properties" property of the item when we author the template and write it to the deployed item.

We also need to copy the "properties" property from the Solution Item (Template) to the Solution Item (Deployed) in the user's organization.

[2020-02-07 15:54] chris-fox commented on #175
@MikeTschudi, to support this I am thinking we take this approach:

- Any item that is created from a template during deployment should write a new type keyword to the item using the pattern "source-_itemId_" for example source-f6a4373a92b1471983a063053d43eab2. This should be the template's unique id, and by default will be the same id as the item it was created from

- During template creation we

[2020-02-07 15:55] chris-fox commented on #175
FYI @shoe913

[2020-02-07 21:05] shoe913 opened #193 "Add Experience Item Type"

[2020-02-07 21:26] shoe913 opened #194 "Handle Code Attachments for Web AppBuilder Applications"
Maps which are not directly shared to the item are showing up in the contents.

As I recall, this didn't happen last week. Is this an intended change or a bug?

![image](https://user-images.githubusercontent.com/11777080/74067126-599f3f80-49ad-11ea-9c08-568316a5441f.png)

[2020-02-07 21:28] chris-fox commented on #194
@shoe913, could you check the template? I think that may be a code attachment which is associated with WAB apps.  If so, we don't want code attachments to be templatized with WAB apps, could you work with @MikeTschudi on this?

[2020-02-07 22:31] shoe913 commented on #194
@chris-fox @MikeTschudi

Taking a closer look, this is a code attachment coming through as a map. This is probably related the the behavior I was seeing with #186 where incorrect items where showing up.

I tried removing the code attachment from the app used to create the Solution Template and this seems to correct the extra dependency. It also looks like ArcGIS Online is automatically rebuilding

[2020-02-07 23:55] shoe913 opened #195 "Item URL is not being correctly updated often (More often seen in Web AppBuilder)"
Still trying to find commonalities in problematic apps.

When this happens, everything appears to swizzle correctly, but the URL still contains the Item ID variable

ex.
https://andyshoe.maps.arcgis.com/apps/webappviewer/index.html?id={{4ff9a7d94f8046e59a97ef57d9d189d0.itemId}}

Problematic:
94a7166a8b0a4e8b81283f69f67d5527
038c21a34f2d482baac8857223cb1bae

Ok:
3c61f4a0bb334009a1802f594890d289
8f1

[2020-02-10 17:36] shoe913 commented on #194
@MikeTschudi

From testing, it looks like displaying the code attachment may be a regression. Currently, we recreate the code attachment if it is missing from the item, which is a behavior we'd like to keep.

On a related note, I noticed this morning that apps with missing code attachments do not show up in the Solution Item. Not sure what changed, but it was not doing this last week, so I suspect

[2020-02-10 17:39] MikeTschudi commented on #194
@shoe913, the code attachment branch is not yet merged into the develop branch, so you won't see the changes yet

[2020-02-10 19:30] shoe913 commented on #195
When two solutions are deployed without refreshing the page, the second solution's itemID is not swizzled for Web AppBuilder applications.

Deployment appears correct, however the cannot be used because the itemID has not swizzled and is listed as the variable (ex. {{4ff9a7d94f8046e59a97ef57d9d189d0.itemId}} )

[2020-02-11 16:07] shoe913 commented on #170
Verified

[2020-02-11 16:07] #170 closed

[2020-02-11 16:53] shoe913 commented on #184
This seems to have resolved itself.

I suspect this was a regression which was fixed when #163 was addressed

[2020-02-11 16:53] #184 closed

[2020-02-11 17:58] shoe913 commented on #163
Verified

[2020-02-11 17:58] #163 closed

[2020-02-11 18:37] jmhauck commented on #112
@shoe913 we are just doing item ids for now

[2020-02-11 18:48] shoe913 commented on #112
@jmhauck  Cool, I'll test this tomorrow when everything refreshes.

Will I need to use the {{ pattern to switch Item Ids in here or will the notebook be scanned and then flipped automatically?

[2020-02-11 19:06] jmhauck commented on #112
@shoe913 you can test now. No additional changes were needed from the previous commit I made awhile back.

The create/publish step will look for the itemIds referenced by the notbook and templatize them. You shouldn't need to update anything manually for them.

[2020-02-11 19:46] shoe913 commented on #176
Some more fun, Notebook icons should also be looked at.

[2020-02-11 19:46] shoe913 commented on #112
Verified.

#176  Will take care of Solution Contents Icon missing

[2020-02-11 19:46] #112 closed

[2020-02-11 22:21] MikeTschudi opened #200 "Discussion: Report detailed results of creation, deployment"
**Perceived problem:**

Currently, the solution-creation entry points `creator.createSolutionFrom<GroupId,ItemIds>` return the created solution's item id, and the solution-deployment entry point `deployer.deploySolution` returns a structure with the deployed solution's item base and data. Some errors during creation appear as a property in the template for an item; other errors--and errors during

[2020-02-12 00:03] shoe913 opened #201 "Vision Zero does not deploy: Unimplemented Item type error"
When trying to deploy Vision Zero Solution Item, deployment hangs at 89.89%

Errors in console suggest hang may be due to a specific layer. JSON of solution Item also has an 'unknown' item type.

![image](https://user-images.githubusercontent.com/11777080/74290820-d69d2280-4ce7-11ea-8546-697d3c576a64.png)

From what I can tell, the issue is with this layer: https://services7.arcgis.com/piPfTFmrV9d

[2020-02-12 14:09] chris-fox commented on #201
@shoe913, I think this is related to #178. I am guessing the Web Map has an operational layer with an ItemID property that is pointing to an item id that no longer exists. My guess is when @jmhauck resolves #178, that when you re-author the Vision Zero solution the reference in the web map will be right and you will no longer have this unknown type.

[2020-02-12 14:13] chris-fox commented on #201
Also I saw this same issue in Election Management in the Dashboard for one of the web maps, I actually resolved the itemID reference in the web map because I wanted to demo it today, but it will be easy to test this case by putting a bad item id into a web map.

[2020-02-12 15:55] chris-fox commented on #200
@MikeTschudi, a couple comments. I think what you describe here is a great and accounts for all aspects a developer would want to know using the solution.js library, gives them flexibility and transparency and we need to account for it.

I would like to speak to how I would like this to behave for end users (non-developers) working with our Creation and Deployment apps for our June release and may

[2020-02-12 16:17] cosbyr commented on #200
@MikeTschudi @chris-fox

Agree with Chris on just cleaning and removing the partially deployed app dependencies on failure.

As far as reporting back deployment errors, I'm happy with whatever approach you come up with to structure that information. Dumping the detailed messaging to the console seems like a good plan for the first release though.

[2020-02-12 16:47] shoe913 commented on #200
@MikeTschudi  @chris-fox

I too agree with removing partially deployed everything. Even (if possible) partially created solution item templates. Any partially working templates or deployed apps will only cause confusion, both internal (guilty) and external.

When released, users should have a seamless deployment experience. However if something goes wrong (especially if it happens more than 1 time

[2020-02-12 17:04] MikeTschudi commented on #200
Thank you all for your comments. My focus with this question is what information should be passed to apps from the solution.js library so that an app can intelligently decide what to do: notify the user, offer an automatic retry, dump to the console, all of the above.

[2020-02-12 17:19] chris-fox commented on #200
That's fair @MikeTschudi, but I would say cleaning up what has been created when their is a failure during deployment (And Immediately failing rather than trying to create the rest of the items) should be something in the solution.js api even if it is something the client app passes as a parameter for deployment. Wouldn't want the client app to have to do this cleaning up.

[2020-02-12 17:48] MikeTschudi commented on #200
I thought that returning a list of problems to the creation app would be useful to our in-house solution developers. But perhaps not useful to the deployment app.

So, if I understand you correctly, we return a solution id for complete success creating or deploying a template. If there's a failure, the library echoes the problem to the console, cancels template creation and deployment, deletes any

[2020-02-12 19:00] shoe913 opened #202 "Should Solution Items have Metadata?"
Related to #121

When creating a solution template, we have the option to create Metadata for the template. This is not an option for the deployed template.

I'm not currently aware of any metadata standards we are following for solutions in general and given that we're not storing any pertinent information for deployment in the metadata, I wonder if we even need it.

[2020-02-12 19:09] chris-fox commented on #200
I am ok with it returning the list of errors and warnings during both creation and deployment. I think the app can decide how to display the messages and whether they write them to the console.

I just want to avoid the ArcGIS Solutions App (Deployment) having to clean-up in case of a failure. I would like solution.js to handle that. I also would want solution.js to fail fast rather than continuin

[2020-02-12 19:56] shoe913 commented on #188
This also occurs with Hosted Feature Layers and Hosted Feature Layer Views

[2020-02-12 22:18] chris-fox commented on #163
This worked great in my tests @jmhauck, nice work.

[2020-02-13 18:26] cosbyr opened #204 ""created" and "thumbnail" property does not exist in JSON returned from deployer.deploySolution"
Solution deployment app depends on these properties existing on the returned card.

[2020-02-13 18:59] cosbyr opened #205 "Proposed New Property handling: "deployJobId" on incoming/outgoing JSON from deployer.deploySolution"
I would like to be able to pass an additional property to the deployer.deploySolution function
deployer.deploySolution(itemInfo.id, **itemInfo.deployJobId**, userSession, options)

Returned JSON on successful deployment or unsuccessful deployment would bring back the same deployJobId property. The Id would be a unique string that i'll generate.

I think this will be the most dependent way to deter

[2020-02-13 23:51] jmhauck commented on #176
@chris-fox @shoe913 I have a pull request submitted into the portal app that should resolve this.

[2020-02-14 13:33] chris-fox commented on #188
I also have experienced this with other item types, but it is not consistently reproducible. Sometimes the thumbnails come over and sometimes not.

[2020-02-14 13:34] chris-fox commented on #176
@shoe913, because this requires a change to the item in the portal app, you will need to verify in devext. It will then push to production at 8.1.

[2020-02-18 14:49] chris-fox commented on #127
Verified

[2020-02-18 14:49] #127 closed

[2020-02-18 19:14] shoe913 commented on #176
Verified.

[2020-02-18 19:14] #176 closed

[2020-02-18 19:51] shoe913 commented on #201
Looks to have been fixed in #178

[2020-02-18 19:51] #201 closed

[2020-02-18 21:50] shoe913 commented on #178
Verified

[2020-02-18 21:50] #178 closed

[2020-02-18 23:22] shoe913 commented on #128
Code attachments no longer coming trough as items and Pro Projects work after download. Resources section of JSON updated to contain the Project.

Verified

[2020-02-18 23:22] #128 closed

[2020-02-19 16:10] shoe913 opened #206 "Cannot Create Gallery App Solution Templates"
Called COP in the deploy org. Failure indicates a dependency is wrong.

Will create new group and narrow down to specific items causing issue

![image](https://user-images.githubusercontent.com/11777080/74850793-3e0e3000-52ef-11ea-983e-88b593326b46.png)

[2020-02-19 16:38] shoe913 commented on #206
Issue is caused by the Common Operational Picture Gallery App.  Given the error, this makes sense.

@chris-fox
As gallery apps will not be required for solution items, not sure how we want to proceed with this.

Currently, we use the gallery to help deploy items with the SDT in Pro and I assume these apps also help organizations as an easy "go-to" location for launching the parts of a solution.

G

[2020-02-19 17:28] chris-fox commented on #206
@shoe913 Yes, we should look into why the Gallery App is failing. I would think it should behave the same as Crowdsource Reporter or Manager, because it is just another group application template and has the same basic json definition. Could you try with a simple gallery app to provide an easy repro case?

In terms of whether we deliver the gallery app with the Solutions, I think it will be up to

[2020-02-19 18:47] chris-fox opened #207 "Solution item details fails to load if item data is empty or templates property doesn't exist"
Really an item should never get into this scenario, but just want to protect in case as its a bad experience if the item details loads.

If there is no templates property specified or the data is empty we should just behave as if the templates array is empty.

[2020-02-19 18:49] shoe913 commented on #206
Looks like this happens with other gallery apps as well.

Both the Minimal Gallery and the Category Gallery fail to create correctly. They get the same error in the console and both create an empty Solution Template.

The apps only have a single item in the group shared so they are pretty simple.

[2020-02-20 17:42] jmhauck commented on #207
@chris-fox I have a PR in for this.

[2020-02-21 22:06] chris-fox opened #209 "Explore ability to extend existing feature services"
We get the request often to allow adding new fields to services already deployed or to add new sub layers to existing services.

Needs more thought on the implications of this for example, how to communicate existing services have been modified and how do we handle views built on the service.

[2020-02-24 17:35] MikeTschudi commented on #204
@cosbyr, I created the following signature for deployment:
[code]
A subsequent query into solution.js would get you item information that you need. But what would you prefer?

---

Separately, how would you like to have a job-number request given the Promise-based interface, please?  One idea that I thought of was for we could add an app-supplied id in the IDeploySolutionOptions; we have a routine

[2020-02-24 18:02] cosbyr commented on #204
@MikeTschudi
In order to get the information I need do i need to a [getItemInfo](https://esri.github.io/solution.js/api/common/getItemInfo/) call with the returned Id? If so... That works for me.

Regarding the job number request. I think it makes sense to have it as an additional property of the IDeploySolutionOptions as you have proposed. Would the deployer.deploySolution return that jobID value

[2020-02-25 00:20] shoe913 commented on #206
@jmhauck

After sorting out #175, can you take a peek at this? I believe this used to work, so hopefully won't be too bad to fix.

[2020-02-25 20:23] shoe913 commented on #183
Verified

[2020-02-25 20:23] #183 closed

[2020-02-25 20:23] shoe913 commented on #188
Verified

[2020-02-25 20:23] #188 closed

[2020-02-28 19:47] shoe913 commented on #206
Fixed

[2020-02-28 19:47] #206 closed

[2020-03-02 21:36] chris-fox commented on #172
@shoe913, I want to push this from the UC release, wait until we get more feedback on this and if teams feel it is important.

[2020-03-02 21:47] chris-fox commented on #180
@shoe913, this is more complicated. Right now views can only be created in the user content who owns the source service. So only admins can create views on the tracker service, because they may need to create it in another user's content.

There is talk of a new privilege that can be assigned to specific users to allow them to create track views so they don't have to be administrators, but this is

[2020-03-02 21:48] chris-fox commented on #185
The hub team is going to do this work, we will just want to verify

[2020-03-02 21:48] chris-fox commented on #186
@shoe913 Is this still an issue? If so we should add to the UC project.

[2020-03-02 21:52] chris-fox commented on #38
I think the plan for this is to have multiple versions of the solution template for the different languages. In the UI we can present this as a single item with a language selection. Solution.js however doesn't need to know anything about this. It just deploys what is defined in the template. Closing issue for now.

[2020-03-02 21:52] #38 closed

[2020-03-02 21:53] chris-fox commented on #174
Closing as a duplicate of #44. No plans to support old story maps, we will plan to support new StoryMap item type.

[2020-03-02 21:53] #174 closed

[2020-03-02 21:54] chris-fox commented on #194
Added to UC project, lets make sure we get this addressed soon after dev summit.

[2020-03-02 21:55] shoe913 commented on #186
@chris-fox

This seems to have cleared up. Will close it out

[2020-03-02 21:55] #186 closed

[2020-03-02 21:58] shoe913 commented on #180
OK, sounds good. I know there are quite a few moving parts in there.

Primarily, I wanted this issue created so it wouldn't fall of our radar.

[2020-03-02 21:59] chris-fox commented on #202
@shoe913, are you referring to the Metadata button in the item details? I see this in both templates and deployed solutions. I think this is just default ability on all item types. I am fine with leaving it, doesn't hurt if people want to add metadata for their solution item.

[2020-03-03 14:43] chris-fox commented on #175
@shoe913, Ryan added the logic to the ArcGIS Solutions app. I was testing with the Election Outreach and Election Management solutions and found it was reusing the items from the previous deployment well. I also tested deploying Election Outreach from pro and the Election Management from the app and it also correctly found and used the layer. This is looking good to me, but wanted you to take a lo

[2020-03-03 18:33] shoe913 commented on #202
@chris-fox

Yeah, that is the button I was referring to. I didn't see it on the deployed solution item at the time, it looks like it is there now.

I've thought about this quite a bit more and I think we may want to encourage internal users to create some basic metadata for our solution items. Bare minimum: the release date and a versioning scheme.

This would help us identify where potential issu

[2020-03-04 00:32] shoe913 commented on #175
Looks good to me as well. I think Ryan hit the nail on the head with this.

I deleted the Solution Item and redeployed. The Solution Item was recreated, but no maps and data were. On another redeploy (with item existing in my content) everything was recreated.

[2020-03-06 16:27] MikeTschudi opened #223 "Export packages for use in apps"
For our initial development, our apps have been using the unpkg CDN. For production, apps need to use their own copies of the solution.js packages. This issue is to make sure that we produce what apps need.

[2020-03-06 16:31] chris-fox commented on #173
After discussion with @jmhauck, last night we are going to do 2 things here:

1. When a feature service item is found we will check its item properties, if it has the property "groupDesignations" and it is set to "livingatlas", we should ignore it, not templatize it, and not include it in the dependencies. This item property corresponds to the living atlas badge show on the items:

![image](https:

[2020-03-09 16:43] shoe913 commented on #190
Verified

[2020-03-09 16:45] #175 closed

[2020-03-09 22:28] shoe913 opened #226 "Create ID and Version Number during Solution Template Creation"
Version number should pre-populate to 1.0 when template is created, the ID should be a guid with no hyphens.

    "properties": {
        "version": "1.0",
        "id": "b00190d537784a80a2e7472e7e4272f9"
    },

This will be to help support versioning of solutions templates.

[2020-03-09 22:53] MikeTschudi commented on #194
With eacbc6994ae52f45d977845d3c9848f29c38eeab, removed reference from WMA to Code Attachment in Solution template and added retries to updating a WMA's URL

[2020-03-10 13:41] chris-fox commented on #190
@MikeTschudi, @shoe913, I just attempted to copy a solution using the Copy Solution app and the properties weren't carried over to the result. Does this app just need an updated version of solution.js or is there something else missing?

http://ec2-18-219-57-96.us-east-2.compute.amazonaws.com/copySolutions/

[2020-03-10 13:45] chris-fox opened #227 "Update the Create Solution and Copy Solution apps to only look for groups/items owned by the logged in user."
Once we open this up to all of the Solutions teams we will start to see a lot of groups and items in these apps and it makes it difficult to find the thing we are looking for. Particularly as an admin in the org you currently see everything.

To reduce the clutter and allow you to focus in on the items you are working on I would like to only show the groups I own in the Create Solution app and the

[2020-03-10 13:45] chris-fox commented on #227
FYI.. @shoe913

[2020-03-10 15:15] shoe913 commented on #190
@chris-fox

I tested this in the Deployment App and it worked fine. I just tested in the Copy App and I too see that it isn't snagging the properties.

I did find that in order for the properties to even show up, I had to add them via code. For some reason, AGO Assistant didn't correctly save my changes.

[2020-03-10 15:39] MikeTschudi commented on #190
The copySolutions example filters properties that it copies, and only copied the following properties:
* categories
* description
* documentation
* extent
* name
* snippet
* spatialReference
* tags
* title
* type
* typeKeywords

I've added
* licenseInfo
* properties
* thumbnail

@chris-fox, @shoe913, any more desired?

[2020-03-10 16:55] chris-fox commented on #190
Thanks @MikeTschudi, could you also add

- culture
- accessInformation
- largeThumbnail

[2020-03-11 02:17] MikeTschudi commented on #227
@chris-fox, public and private content that you own, correct?

[2020-03-11 13:23] chris-fox commented on #227
@MikeTschudi, correct, private, shared with org, or public. Any content you own.

[2020-03-11 14:07] chris-fox commented on #226
@shoe913, @MikeTschudi, I was just thinking I would like to add an additional thing to this request:

if the group has the tags deploy.id.XXXXX or deploy.version.XXXXXX, we should use the values specified in the tags in the resulting solution.

For example I have a solution with the tags:

deploy.id.b00190d537784a80a2e7472e7e4272f9 and deploy.version.1.2

This should result in a the properties spe

[2020-03-11 14:57] MikeTschudi commented on #226
@chris-fox, I don't quite understand this.  Does this summarize the first part:
* if group has deploy.id.XXXXX, use it for created solution item's deploy.id; owse, generate guid
* if group has deploy.version.XXXXX, use it for created solution item's deploy.version; owse, use 1.0

Do you want to rename `deploy.commonid` to `deploy.id`?

Would you please clarify the last paragraph?  It sounds as if

[2020-03-11 15:18] chris-fox commented on #226
@MikeTschudi First part is correct. I want to use 'deploy.id'. Since the property name is consistent with what we are storing in the item properties.

In regards to the last paragraph. We don't need the deploy.solution, deploy.id, or deploy.version tags on the resulting Solution item to discover the solution or check its version.

We are using the properties on the item to discover a Solution's id

[2020-03-11 16:03] MikeTschudi commented on #226
@chris-fox, then

* if group has **tag** deploy.id.XXXXX, use its value for created solution item's **properties.id**; owse, generate guid for created solution item's **properties.id**

* if group has **tag** deploy.version.XXXXX, use its value for created solution item's **properties.version**; owse, use `1.0` for created solution item's **properties.version**

* groups tags are copied into creat

[2020-03-11 16:06] chris-fox commented on #226
@MikeTschudi, perfect

[2020-03-11 16:12] MikeTschudi commented on #226
@chris-fox, merci!

[2020-03-11 19:21] shoe913 commented on #41
@MikeTschudi @chris-fox

Testing this, everything looks fine. Just one quick question about the following scenario.

- Solution A contains a survey
- Solution B contains a different survey which uses the same feature service as Solution A
- Solution C contains both surveys which reference the same feature service

If Solution A is deployed, and then Solution B is deployed, a single feature service

[2020-03-11 19:40] chris-fox commented on #41
@shoe913, did you test this with Ryan's app or the Deploy Solutions test app? Ryan's app is the only one that has the reuse logic enabled so you need to use that to see the behavior your describe.

[2020-03-11 19:41] shoe913 commented on #41
Cool, that is what I wanted verification on. I'll test in Ryan's app to verify that behavior.

Thanks!

[2020-03-11 20:30] shoe913 commented on #41
Ryan's App did the trick, this looks good to me.

[2020-03-11 21:49] shoe913 opened #234 "Security Scans for Creation, Deployment, and Solutions App Use"
Add HTML sanitizers to ensure clean solution templates. This will be done on template creation and solution deployment.

Template: Description, Snippet
Info Products: Description, Snippet, Pop-up codes

[2020-03-11 21:50] shoe913 opened #235 "Create new wrapper for Solution Queries"
Will be used to replace "portal.searchItems(searchOptions)" currently used in Solutions App.

[2020-03-11 22:42] shoe913 commented on #41
@MikeTschudi  @chris-fox

Further testing revealed some issues with forms. It looks like they are being added as part of the template or as a dependency. Both tests use the default sample form. They copy app doesn't seem to read the form and deploying also fails.

Template added Manually:
https://localdeployment.maps.arcgis.com/home/item.html?id=4a52e9e465084329a769bd78c1d30ec6

Template read as D

[2020-03-12 13:14] chris-fox commented on #234
@shoe913, Makes sense for description and snippet. I worry about changing the pop-ups thought. The web map viewer should do this automatically when you save. I don't want to break the pop-ups as part of this process.

[2020-03-12 15:11] shoe913 commented on #234
@chris-fox

Our concern with the pop-ups is in regard to users injecting their own html (similar to our standardizing processes) into their Solution's JSON. If this happens anything can be put in and won't be sanitized until the map is opened and saved.

This may be a fringe scenario, but the fact that we are already doing a similar workflow proves it could be a potential hole.

I'm not aware of w

[2020-03-12 15:21] chris-fox commented on #234
@shoe913, how are we going to know what is valid and what is invalid html? AGO has specific rules that I am not sure we have ensure we are following their rules and not over doing it or under doing it. Also this is something users can easily do today to their own webmaps so I am not sure why we feel we need to solve this problem.

[2020-03-12 23:11] shoe913 commented on #41
On further inspection, everything looks good.

[2020-03-12 23:11] #41 closed

[2020-03-13 16:20] shoe913 opened #238 "Surveys do not Show Dependencies After Being Copied"
Solution Items which are copied to another organization do not show surveys in the dependencies tree.

The JSON for the Survey is present in the item, and everything deploys correctly. The deployed Solution Item has the dependency tree appearing correctly.

[2020-03-13 21:57] shoe913 commented on #238
This was a sharing issue.

Sharing the items fixed the copied solutions and allowed new solutions to work correctly.

[2020-03-13 21:57] #238 closed

[2020-03-15 21:49] MikeTschudi opened #240 "deployer.deploySolution ignoring most IDeploySolutionOptions"
title, snippet, description, tags, e.g., don't have any effect. Should either remove from IDeploySolutionOptions or implement.

[2020-03-17 16:10] chris-fox commented on #190
Verified

[2020-03-17 16:10] #190 closed

[2020-03-17 16:11] chris-fox commented on #227
Verified

[2020-03-17 16:11] #227 closed

[2020-03-17 16:24] shoe913 opened #242 "Solution Item Thumbnails are not maintained with the Copy App"
This only appears to happen with solutions made in the last few days.

Thumbnails are maintained on older solutions.

[2020-03-17 18:13] MikeTschudi commented on #223
Set up distribution library on test servers that contain the .d.ts and .js files.

[2020-03-17 18:13] #223 closed

[2020-03-17 18:40] MikeTschudi opened #243 "Support concurrent deploys of solutions using folders of the same name"
Early folder creation involved trying a name; if it failed, append or increment a digit at the end of the name and try again. This is repeated until a name succeeded.

A subsequent enhancement reduced server round trips from *n* to two by querying for all folders, and then using those results to create a unique name.

Since deployment by default uses the solution name for the deployed folder name,

[2020-03-17 20:24] jmhauck commented on #243
@MikeTschudi wouldn't we still check the current folder list regardless. If we could see that the first name or two we would try are definately taken no need to fail on them.

[2020-03-17 20:32] MikeTschudi commented on #243
@jmhauck, I think that you're right for the first method--we'd get a head start on names by skipping iterations that are known to exist.

For the other two methods, I'm guessing that collisions with millisecond-level timestamps and pseudorandom ids would be really rare.

[2020-03-17 20:36] chris-fox commented on #243
I like the first approach and as @jmhauck suggests still fetch all the folders so you don't need to fail on the known ones, you would only fail/retry in the situations where a folder has been added since you requested the folders.

[2020-03-17 22:57] cosbyr opened #245 "Add searchGroupItems to arcgis-rest-js"
The requirement to put our Solution Template Items into a group and use categories at the group category level requires a new function be added to the arcgis-rest-js library

@MikeTschudi
See related issue here: https://github.com/Esri/arcgis-rest-js/issues/658

Requirements:
- Follow the pattern in [portal.searchItem](https://esri.github.io/arcgis-rest-js/api/portal/searchItems/) which is built o

[2020-03-17 23:57] MikeTschudi commented on #242
It works if the source item is public. Looking into how token can be used when fetching image from source.

[2020-03-18 13:41] chris-fox opened #246 "Support Cache Control property on Feature Services and Views"
For non-editable Feature Services and Views you can set the Cache Control property to specify the maximum time users can wait before seeing an updated. This improves performance and scalability for apps if the data doesn't update frequently:

![image](https://user-images.githubusercontent.com/6796763/76966315-28932280-68fc-11ea-91d9-a4cded0a3d6a.png)

This setting is only visible from the admin en

[2020-03-18 16:58] MikeTschudi opened #248 "Replace temporary updateItemInfo with version in arcgis-rest-js v2.10.0"
In resourceHelpers, and supports copyFormInfoFile

[2020-03-18 22:38] MikeTschudi opened #249 "Replace temporary genericSearch with version in arcgis-rest-js v2.x.0"
#245, https://github.com/Esri/arcgis-rest-js/issues/658, https://github.com/Esri/arcgis-rest-js/pull/675

in restHelpers, and supports searchGroupContents

[2020-03-18 22:48] shoe913 opened #250 "Solution Item Thumbnails blurry after deployment"
After deploying or copying solutions, thumbnails become blurry.

Looks like the thumbnail is being stored as both the resized version and the original. The resized version is then being used by the item.

Resized by AGOL:
https://www.arcgis.com/sharing/rest/content/items/b637babcf38244b9b9718ee3887ac535/info/thumbnail/thumbnail1584552189370.jpeg

Original:
https://www.arcgis.com/sharing/rest/conte

[2020-03-18 23:01] chris-fox commented on #250
@shoe913, @MikeTschudi, I don't know the rules with thumbnails that well. I am not sure how consistent the _org thumbnail is. If this seems risky to try to persist the original thumbnail I think we may be able to workaround this in the app.

[2020-03-18 23:16] chris-fox commented on #250
Adding @cosbyr

I see ArcGIS Online often uses the following param when fetching the thumbnail:

https://<item-url>/info/thumbnail/thumbnail.png?w=400
https://developers.arcgis.com/rest/users-groups-and-items/common-parameters.htm

Currently in the app we are using _orig? It seems it would be safer to use this param instead and potentially better performance?

This is what I am seeing. When I uplo

[2020-03-21 01:45] #248 closed

[2020-03-23 14:20] chris-fox opened #257 "Create service under user folder initially to remove the need to move it."
I notice for all services and views we are creating the service in the users home folder and then moving it to the appropriate folder. This requires 2 requests for each services/view.

https://www.arcgis.com/sharing/rest/content/users/chri4849_lg/createService

We could streamline this by creating the service/view directly in the folder to start with, by adding the folder id to the request url.

h

[2020-03-23 15:31] MikeTschudi opened #258 "Cross-browser support"
Support for
* Chrome
* Firefox
* New Microsoft Edge (versions > 80)
* Safari

Partial support for Legacy Microsoft Edge (versions &ge; 41.16299 and &le; 44.18362; EdgeHTML/[Can I Use](https://caniuse.com/) versions 16 -18.)  [Edge versions](https://en.wikipedia.org/wiki/Microsoft_Edge)

[2020-03-23 16:14] chris-fox commented on #258
Seems like we should not worry about IE11 support, seems to be the direction the rest of the apps are going as well.

[2020-03-23 18:18] chris-fox opened #259 "Error templatizing feature layer referenced in WAB"
When attempting to templatize one of the web appbuilder applications below, widgets referencing the second layer "id: 1" in a feature service are not being templatized correctly

https://localdeployment.maps.arcgis.com/home/item.html?id=809ca03100c349f78ad281b34be61f6a
https://localdeployment.maps.arcgis.com/home/item.html?id=9b0b0973087d444cbd7549e505234a5a

It results in the following property l

[2020-03-23 19:12] chris-fox commented on #258
@MikeTschudi, I was having issues with the Coronavirus Response application failing in Edge, then I installed the 'new Edge' and was able to deploy successfully. I didn't even know about the 'new Edge' so doing some more research to see what we need to consider for support with the 'legacy Edge'

https://support.microsoft.com/en-nz/help/4026494/microsoft-edge-difference-between-legacy

[2020-03-23 19:43] MikeTschudi commented on #250
When a deployed Solution is created, its spec includes the URL to the Solution Template's thumbnail, but the URL is missing the w=400 parameter.

Thanks to @cosbyr for catch

[2020-03-24 04:01] MikeTschudi commented on #258
Added File constructor polyfill (01b5c8be3153d008bc4a3944f0faa328dc32f497)

[2020-03-27 13:45] chris-fox commented on #195
I am ok with a temporary fix of adding a delay between retry updates for now.

However, I think this could be improved if we try to combine our update calls. Currently for every WAB app we are making 2 back-to-back update calls, first to update the item url and then to update the item data. I believe the second update is overwriting the first. I think if we could do this is a single update this wo

[2020-03-27 17:17] chris-fox opened #260 "Error deploying Feature Service Join view"
This item seems to be templatizing fine, but fails to deploy.

https://localdeployment.maps.arcgis.com/home/item.html?id=edf689b511bf43e9847ed89126dbb9d5

My guess is it is not handling the fact that the join view is a table rather than a layer, but i'm not sure. I am not seeing any REST error, it fails before even making the createService call.

[2020-03-27 21:11] shoe913 commented on #173
Verified

[2020-03-27 21:11] #173 closed

[2020-03-27 21:27] shoe913 commented on #194
Verified

[2020-03-27 21:27] #194 closed

[2020-03-27 21:28] shoe913 commented on #226
Verified

[2020-03-27 21:28] #226 closed

[2020-03-30 15:19] chris-fox commented on #57
Updating comment from above, we need to support both, but we have a pattern for handling json stored as a resource, i.e QuickCapture. I think we just need to templatize both so when a user deploys their draft and published versions match.

In terms of the structure, with an initial look it looks like they have done a good job of isolating the datasources in its own property at the root of the item

[2020-03-30 23:28] MikeTschudi commented on #258
In version 0.8.6

[2020-03-31 14:11] chris-fox commented on #260
Verified

[2020-03-31 14:11] #260 closed

[2020-03-31 14:18] chris-fox opened #264 "Failing to deploy feature layer view, attempting to delete field"
When attempting to deploy a solution created with this view, it successfully creates the view but then it attempts to delete the editor tracking fields from the view:

https://localdeployment.maps.arcgis.com/home/item.html?id=9ef0784e640640178a12228fe6aa8c86

deleteFromDefinition: {"fields":["created_date","created_user","last_edited_date","last_edited_user"]}

It is not clear why we are attemptin

[2020-03-31 14:18] chris-fox commented on #264
@jmhauck, can you look at this today, this is impacting one of the coronavirus solution deployments.

[2020-03-31 14:21] chris-fox commented on #250
Verified

[2020-03-31 14:21] #250 closed

[2020-03-31 14:41] shoe913 commented on #193
Duplicate of #57

[2020-03-31 14:41] #193 closed

[2020-03-31 17:55] chris-fox commented on #258
Verified.

[2020-03-31 17:55] #258 closed

[2020-03-31 18:25] shoe913 commented on #242
Verified

[2020-03-31 20:43] MikeTschudi commented on #249
[Revisions in arcgis-rest-js version](https://github.com/Esri/arcgis-rest-js/pull/675/commits/adb6b9b24b1705e9a2bb56a56223c0c1b0419a6e) in response to reviews

[2020-04-01 14:51] chris-fox commented on #57
Here is a common scenario we will be supporting with experience builder, a app with 2 embedd widgets with 2 different versions of a dashboard (Mobile and Large display).

https://experience.arcgis.com/experience/c00baf45f12a4899aae1c812e29d6cde

[2020-04-01 15:55] dbouwman opened #266 "Initialize templateDictionary with Global values"
The `templateDictionary` should include:
- the portal object
- the solution (template) item + data
- org extent as BBOX

Hub templates leverage all of these things.

Hub team can start on this shortly, but just a heads up

[2020-04-01 15:56] dbouwman opened #267 "Templates need access to current user's Portal Object"
The `templateDictionary` needs to have an entry for the portal fetched from /portal/self

This allows us to set various things like org name in the Hub templates - which may be useful in other templates.

We should also pre-project the org extent into 4326 and convert to a BBOX so we can set the item extent on all output items

[2020-04-01 16:05] dbouwman opened #268 "Add Solution Schema Versioning & Migrations"
Basically allows the Solution system to evolve over time - this is baked into Hub item types, and has been extremely useful

Hub Team can lead this

[2020-04-01 16:09] dbouwman commented on #267
closed in favor or more generic #266

[2020-04-01 16:09] #267 closed

[2020-04-02 14:50] dbouwman commented on #234
Fwiw - I've done a little poking around w/ the [jsxss](https://jsxss.com/en/index.html) lib that backs the [arcgis-html-sanitizer](https://github.com/Esri/arcgis-html-sanitizer) module, and it can be fed a object, and it applies the sanitization rules to all string fields down the whole graph.

We are looking at switching to this in Hub because it is a more wholistic solution we can apply on every

[2020-04-06 16:06] dbouwman opened #271 "Enable passing Interpolation Variables into Deployer"
For other apps that use Solution.js, there will be a need to provide a hash of interpolation variables into the Deployer function, allowing the newly created items to share "context" with existing items.

For example - within a Hub Site, we will use Solution.js to deploy "recommended solutions". Within those Solution Templates, we will have variable interpolations that expect `{{site.url}}` or `{{

[2020-04-06 18:49] MikeTschudi commented on #245
Category search requires fix in [arcgis-rest-js](https://github.com/Esri/arcgis-rest-js/issues/685)

[2020-04-07 01:55] chris-fox opened #273 "Repair feature service during templatization"
- [x] Remove duplicate indexes on the same field.

- [x] Remove indexes on fields that don't exist in the layer

- [x] Repair editFieldsInfo if field referenced doesn't exist in the layer (Maybe check for same field name but different case?)

- [x] Remove field references in feature templates or indexes where field doesn't exist in the layer.

- [x] Update primary display field if field isn't in t

[2020-04-07 13:27] chris-fox opened #274 "When solution is failing to deploy sometimes seeing attempts to delete original item template was created from"
I am getting a failure deploying a template with a feature service, the original template id is "5e5f8935e25d4861930778a3c338ae64" and it get this error in the console:

{success: false, itemIds: Array(1)}
success: false
itemIds: ["5e5f8935e25d4861930778a3c338ae64"]
__proto__: Object

The create service successfully returns a new item:

{"encodedServiceURL":"https://services.arcgis.com/b6gLrKHqgkQ

[2020-04-08 22:13] #249 closed

[2020-04-09 17:25] MikeTschudi commented on #235
duplicate of #245

[2020-04-09 17:29] MikeTschudi commented on #205
Implemented via PR #241

[2020-04-09 17:45] chris-fox commented on #195
Verified

[2020-04-09 17:45] #195 closed

[2020-04-09 17:45] chris-fox commented on #264
Verified

[2020-04-09 17:45] #264 closed

[2020-04-09 17:46] chris-fox commented on #207
Verified

[2020-04-09 17:46] #207 closed

[2020-04-09 17:49] chris-fox opened #282 "Reduce back to back updateDefinition calls for WAB"
Currently for every WAB app we are making 2 back-to-back update calls, first to update the item url and then to update the item data. I believe the second update is overwriting the first.

I think if we could do this in a single update this could help prevent the occurrences of the url not being updated every after returning succesful. So far I have only seen this issue with WAB.

[2020-04-09 17:55] #204 closed

[2020-04-09 17:55] #205 closed

[2020-04-09 19:03] chris-fox commented on #259
Verified

[2020-04-09 19:03] #259 closed

[2020-04-09 19:34] chris-fox commented on #274
Verified

[2020-04-09 19:34] #274 closed

[2020-04-09 19:36] #243 closed

[2020-04-09 19:39] #240 closed

[2020-04-09 19:42] chris-fox commented on #202
I think as a property of an item we should include it, if we don't use it no big deal, but if we want to in the future it will be nice to have.

[2020-04-09 19:42] #202 closed

[2020-04-09 19:43] chris-fox commented on #115
I think in the future we will need to have a localized version of the solution template itself rather than trying to replace strings with variables inside the template.

[2020-04-09 19:43] #115 closed

[2020-04-09 19:46] chris-fox commented on #200
@MikeTschudi, with regard to the issues is there additional work that still needs to be done?

At least in terms of deployment I am happy with the behavior of successes and failures.

[2020-04-09 19:47] chris-fox commented on #122
@MikeTschudi, is this still an issue you are aware?

[2020-04-09 19:50] MikeTschudi commented on #200
@chris-fox, great!  How about we create an issue specifying what needs to be done to ready the creation app for Solution production and refer to this issue for the error handling requirements?

[2020-04-09 19:57] MikeTschudi commented on #122
@chris-fox, I think we're done with this one based on #200, #198, #215, #216, #217, #276

[2020-04-09 19:59] #122 closed

[2020-04-10 12:40] chris-fox opened #283 "Group thumbnail is not being set when deployed"
This seems to be a recent regression. In the Coronavirus Response solution there is a group called Public Places Manager. I deployed the solution 4x in a row and the thumbnail was never applied. When I watch in the browser debugger the correct thumbnail is being set during creation, but it doesn't seem to stick.

https://localdeployment.maps.arcgis.com/home/item.html?id=caf7f1effad04817942d8b619f2

[2020-04-10 12:41] chris-fox commented on #283
@MikeTschudi, could you take a look at this today? Its impacting the Coronavirus solutions.

[2020-04-10 17:37] chris-fox opened #285 "Concurrent deployments of Solutions with a group with same name fails"
Deploy the Coronavirus Response solution 2x at same time and one will fail creating the group:

{"error":{"code":400,"messageCode":"COM_0044","message":"Unable to create group.","details":["You already have a group named 'Public Place Manager'. Try a different name."]}}

https://localdeployment.maps.arcgis.com/home/item.html?id=caf7f1effad04817942d8b619f28ed43
http://ec2-18-219-57-96.us-east-2.com

[2020-04-10 17:38] chris-fox commented on #285
@MikeTschudi, just found this one as well after Ryan implemented concurrent deployments in the app. Could you take a look at this one next?

[2020-04-10 20:40] chris-fox commented on #44
Did some research into this item type. With StoryMap you can have a draft and published version. The published version is stored in the data of the item. The draft is stored as a .json file in the item resources. Then name of the file is refrenced via a typeKeyword on the item. For example:

smdraftresourceid:draft_1586544394027.json

So any swizzling we do seems like it needs to be done in both.

[2020-04-11 17:31] MikeTschudi commented on #257
Works like a charm. The create + move behavior is in arcgis-rest-js package `arcgis-rest-service-admin`;  PR [Supply folder parameter during creation so that a subsequent move is not needed #689](https://github.com/Esri/arcgis-rest-js/pull/689).

[2020-04-14 15:18] chris-fox opened #292 "Update url variables to end in slash"
Examples:

Item URLs:
{{9ef0784e640640178a12228fe6aa8c86.url}}”

Portal URL variables:
{{portalBaseUrl}}

[2020-04-15 22:11] MikeTschudi commented on #234
@shoe913, PR #295 has initial solution scanning

[2020-04-17 15:30] chris-fox commented on #292
Verified

[2020-04-17 15:30] #292 closed

[2020-04-17 15:30] chris-fox commented on #283
Verified

[2020-04-17 15:30] #283 closed

[2020-04-17 15:30] chris-fox commented on #282
Verified

[2020-04-17 15:30] #282 closed

[2020-04-17 15:30] chris-fox commented on #285
Verified

[2020-04-17 15:30] #285 closed

[2020-04-17 21:06] MikeTschudi opened #297 "Perform i18n-aware searches in AGO"
Because we fetch items from AGO in batches, it is best for AGO to do i18n-aware sorting rather than the library or its client apps.

[2020-04-20 16:31] chris-fox commented on #121
verified

[2020-04-20 16:31] #121 closed

[2020-04-20 16:36] chris-fox commented on #245
Verified

[2020-04-20 16:36] #245 closed

[2020-04-20 16:36] chris-fox commented on #235
Verified

[2020-04-20 16:36] #235 closed

[2020-04-20 17:57] chris-fox opened #298 "Add support for new Workforce Project"
The Workforce v2 project has been released and there are some pretty significant changes:

- A Workforce Project item is no longer created, a workforce project is composed of a feature service, 2 web maps, and a group.

- The feature service has the definition of the project stored in the item properties, for ex:

"properties": {
        "workforceProjectGroupId": "733f169eddb3451a9901abc8bd3d4ad4

[2020-04-20 17:59] chris-fox commented on #298
A sample new workforce project can be found here:

fd2a2a902def4e5d9dc92cb4829071ed

[2020-04-21 14:03] chris-fox commented on #242
I am seeing this issue again, when i look at the request i am getting an invalid token in the url request for the thumbnail.

[2020-04-22 23:00] MikeTschudi commented on #242
Commit 46808926cf974839fb2fc20190d04e30667e82e6 changes thumbnail tokens to get the token as needed, rather than at the beginning of the copy. This allows for token refreshes.

Unfortunately, this probably causes some of the addResources calls to stall with 502 server errors when a lot of large solutions (e.g., more than 10) are copied at the same time while the browser network speed is set to "Sl

[2020-04-23 14:18] MikeTschudi commented on #129
@chris-fox, the key is a random 8-character alphanumeric value beginning with a letter so that it can be used as a valid JavaScript identifier. It was requested by the Hub team; we don't use it.

[2020-04-24 06:50] DBruzas opened #301 "Pushing data schema changes to deployed services"
Hello, there is a need to push changes to the deployed services, without losing client's data if changes are made in data schema (feature layers' fields, domains etc.).

[2020-04-24 06:53] DBruzas opened #302 "ArcGIS Enterprise support"
Currently the API works on ArcGIS Online. Will this be extended to ArcGIS Enterprise as well?

[2020-04-24 13:04] chris-fox commented on #302
@DBruzas, yes we will support Enterprise. It will probably work today, however if you try to create a solution from Online and deploy to Enterprise it may fail primarily due to incompatibilities in Feature Services. We have future work planned to during a template creation create a definition of the feature services that is compatible in Online or Enterprise.

[2020-04-24 13:07] chris-fox commented on #301
@DBruzas, can you talk about your use case more? We have specifically stayed away from modifying items once created. This is because once an item is created the end user can do anything they want to the item and we can't assume it reflects the original item we deployed. For example, if you wanted to modify a domain, there is no guarantee the domain still reflects the original state or that the fie

[2020-04-29 02:47] MikeTschudi opened #303 "Review replacing clear text platform cookie (esri_auth) with encrypted platform cookie"
From AGO team:

[2020-04-29 18:04] dbouwman opened #304 "Add "Second Pass" to Deployer Life-Cycle"
Once the whole solution is deployed, we want a callback fired for each "type specific" handler, passing in the whole stack of created items, allowing the handler to take action on each (i.e. share to groups, or inject id's for bi-directional links)

Note: Chris mentioned that for some types a similar thing is already implemented. This task will evaluate if that existing solution will work for the

[2020-04-30 18:14] MikeTschudi commented on #303
Completed

[2020-04-30 18:14] #303 closed

[2020-05-01 14:18] dbouwman opened #305 "Pass either templateId or templateItem into deploySolution"
Allow consumers of the deployer to pass in the Solution as an object vs assuming it's an item to be fetched.

This is needed for Hub as we have "embedded" solution templates that ship as json files in the Hub application. We also leverage the Solution system as a means to "clone", by simply piping the output from the "create template" process, into the "deploy" process without writing out an item.

[2020-05-01 23:12] shoe913 opened #307 "Improve messaging in console when Solution Item fails to create"
Some Solutions contain references to layers which no longer exist. When these solutions turned into solution items, they fail because the layers no longer exist.

ex.
https://localdeployment.maps.arcgis.com/home/item.html?id=8130653f73f14e3488effbfa1f65f093

We need to be able to handle the vestigial services to ensure everything can be created correctly.

[2020-05-04 16:37] dbouwman opened #308 "Align Hub & Solution "Resource" models"
Hub needs to pass in "template" object graphs that are not backed by Solution Items - and this must support uploading of "resources" (images & thumbnails)

The individual templates have an `.assets` array that includes the `name`, `type` and `url`

During item creation, the type-specific module reads assets entries, and the url is used to fetch the resource, and then it is uploaded as a resource o

[2020-05-04 19:41] dbouwman opened #309 "Ensure Solution.js can run in Node"
Currently a number of tests are not run in node because of how `Blob` and `File` objects are utilized. This also means that the entire library can not be used in Node, which blocks the creation of an api that executes the Solution deployment process... which is a long-term goal of the Hub Team.

That said, rest-js and hub.js leverage patterns and external libraries to handle `Blob`'s

Hub.js pulls

[2020-05-04 20:19] dbouwman commented on #305
Implemented in #306 - Closing

[2020-05-04 20:19] #305 closed

[2020-05-04 22:31] cosbyr opened #310 "Add optional 'progressEvent' property to ISolutionProgressCallback"
Goal: Report back to the Solution Deployment App when a Item that is part of a Solution Item's data.templates list is finished

Proposed new `ISolutionProgressEvent` Structure:
[code]

Proposed Updated `ISolutionProgressCallback` Structure:
[code]

progressEvent in the case of reporting back when a Item that is part of a Solution Item's data.templates list is finished:
[code]

I think this ISoluti

[2020-05-05 18:08] shoe913 opened #312 "Allow items larger than 50 MB to be packaged and deployed"
Allow items larger than 50 MB to be added to solution items and deployed

see #330

[2020-05-05 18:20] shoe913 opened #313 "Ignore default extents when creating items if extents are invalid"
When an organization has an invalid default map extent, the solution.js will not create the solution items correct and fail.

When the code encounters this, we should handle for for the error and default the extent of the full base map.

![image](https://user-images.githubusercontent.com/11777080/81100940-30198580-8ec2-11ea-9a95-3bd41a09e666.png)

[2020-05-05 20:32] chris-fox opened #314 "Failing to deploy solution, not returning the resource properly"
Attempt to deploy:

https://localdeployment.maps.arcgis.com/home/item.html?id=5369196f17ab428db2165b96d829fd05

It will fail attempting to fetch a resource from the template, the url seems to be incorrect it is passing undefined rather than the item it of the template.

https://www.arcgis.com/sharing/rest/content/items/undefined/resources/eef5c6d2f0884f1fa5d7e633d85493a5_info_dataz/Hospitalization

[2020-05-05 20:36] MikeTschudi commented on #297
AGO appears to be following [Unicode® Technical Standard #10: UNICODE COLLATION ALGORITHM](http://www.unicode.org/reports/tr10/).

[2020-05-05 20:36] #297 closed

[2020-05-05 21:36] chris-fox commented on #44
It sounds like the Hub team may be working on this, so pulling from the project for now.

[2020-05-05 21:37] chris-fox commented on #298
We need to wait a little more on this as it seems the Workforce team isn't complete with their spec. Will update issue with the final spec.

[2020-05-06 15:55] dbouwman commented on #268
landed in develop with #311 - closing

[2020-05-06 15:55] #268 closed

[2020-05-06 16:32] MikeTschudi opened #316 "Missing shims for Node.js built-ins"
`npm install` following PR #311 shows errors building the common package:

[code]

[2020-05-06 17:51] MikeTschudi commented on #310
@cosbyr, we have status strings that are used in the console progress messages:

[code]

Would these be OK for the `event` property?  (The numeric prefixes are for sorting the console log output and can be removed.)

[2020-05-06 18:11] MikeTschudi commented on #310
At this point, however, it appears that you only want the "2 Created" message with the created item's id--correct?

[2020-05-06 18:36] cosbyr commented on #310
@MikeTschudi I didn't do a good job of making this clear, but I actually want the source template item's ID that the new item was created from once the new item is finished getting created. i'm okay with a different event name.

[2020-05-06 18:40] cosbyr commented on #310
@MikeTschudi it might not be "Created" that we want, it might be "Finished", the item needs to not just be created but needs to have all of its data in place too before it reports back on the callback i am thinking of.

[2020-05-06 20:40] shoe913 commented on #242
Verified

[2020-05-06 20:40] #242 closed

[2020-05-08 13:25] chris-fox commented on #314
Verified

[2020-05-08 13:25] #314 closed

[2020-05-08 13:32] chris-fox commented on #307
@shoe913, @jmhauck, I changed my mind on this. Recently I had a the Create tool fail because of a non-existent service that actually was causing the app to break. So having fail was actually helpful in knowing there was an issue with the app.

So I don't think we should to successfully create a new solution item. However, I would like to see better info reported to the console, specifically, what

[2020-05-08 15:03] chris-fox opened #319 "Update creation of version and id tags to use typeKeywords rather than properties."
To support reporting we need to move our solution id and version from the properties to the typeKeywords of the item. So we will be looking for the following typeKeywords:

"solutionid-XXXXXSomeGuidXXXXXXX"
"solutionversion-1.0"

We originally did this work in #226, I would like to keep the same behavior as we implemented in this issue but rather than writing these to the properties of the item, w

[2020-05-08 15:42] shoe913 commented on #307
@chris-fox

Will do. If/when we encounter this again, I'll address the item as necessary.

[2020-05-08 22:46] shoe913 opened #321 "Deployment does not correctly unpack special characters"
When creating and deploying a solution, special characters around svg elements are not consistently converted to/from HTML.

In example below, characters (for example  < and > ) are getting parsed by the dashboard instead of the deployment app. This prevents the icons from showing correctly.

![image](https://user-images.githubusercontent.com/11777080/81454898-5fd6c080-9142-11ea-8973-68cf4a541ff9.

[2020-05-11 15:43] shoe913 opened #322 "Deployment process does not create domains"
When deployment unpacks a feature with a domain (see Citizen Problem Reporter), the domains aren't created. They are present in the JSON of the feature service.

This could be related #321 . What is causing the SVG to not be fully parsed could have a cascading effect on the domains.

[2020-05-11 16:55] chris-fox commented on #322
This is an issue when Feature Layer Views have different domain definitions then the source service. @jmhauck originally did this work. Assigning to him. The key is if a view has a different domain definition for a field then the source it needs to be applied in an update after the view is created.

We only want to do this on fields that have different domains then the source, otherwise it breaks

[2020-05-11 21:51] MikeTschudi opened #324 "Delegate data sanitization to the type-specific modules"
cf. #234, which covers scanning of item base sections

[2020-05-11 21:58] MikeTschudi commented on #234
#321 is caused by blindly scanning the data section of items; as @dbouwman wrote, "TODO: we should delegate data sanitization to the type-specific modules"

With PR #325, restricting scanning to the item base info; issue #324 takes over data section sanitization.

[2020-05-11 22:50] MikeTschudi commented on #321
Solutions with html--including svgs--embedded in their data section will need to be rebuilt because the security scan before the work associated with this issue disables the html.

[2020-05-12 13:41] MikeTschudi commented on #257
Finally merged into arcgis-rest-js; will get with next release

[2020-05-12 15:56] shoe913 commented on #321
Verified

[2020-05-12 15:56] #321 closed

[2020-05-12 16:01] shoe913 commented on #319
Verified

[2020-05-12 16:01] #319 closed

[2020-05-12 17:04] shoe913 commented on #307
Verified

[2020-05-12 17:04] #307 closed

[2020-05-13 15:28] MikeTschudi opened #329 "TypeScript 3.9.2 breaks unit tests"
On our servers and in Travis CI, we use TypeScript 3.8.3 and all is well.

Version 3.9.2, out today, breaks the unit tests--in particular, the use of `spyOn` and maybe `sinon.stub`. This appears to be due to changes in the way that TS handles imports: making them readonly in conformance with ES6.

This issue for updating the tests in preparation for switching everything to 3.9.2.

[2020-05-13 16:50] shoe913 opened #330 "Copy App does not copy all resources"
This Solution Item contains 3 surveys (saved as zips) and 3 info.json files stored in the resources.
https://localdeployment.maps.arcgis.com/home/item.html?id=e6fede9309a540b0b231cae13e0c67e7

After being copied to devext, all three survey zips are missing and one info.json file is missing from the resources.

When the 'broken' item is deployed in devext, everything appears to be working correctly

[2020-05-13 20:56] shoe913 commented on #246
Verified

[2020-05-13 20:56] #246 closed

[2020-05-13 21:07] shoe913 commented on #310
Verified

[2020-05-13 21:07] #310 closed

[2020-05-13 21:09] shoe913 commented on #234
Verified

[2020-05-13 21:09] #234 closed

[2020-05-14 20:35] MikeTschudi commented on #330
AGO is accepting each resource and returning HTTP 200 responses such as `{"success":true,"itemId":"af830084316e4379a444acd0243dfc4a","owner":"myaccount","folder":null}`

Of 15 addResources calls with `success` responses, only 9 actually ended up in item. addResources says that [A maximum of 50 files can be added each request. Each file should be no more than 50 Mb.](https://developers.arcgis.com/r

[2020-05-15 14:21] mpayson commented on #309
(I believe related) I just tried running createSolution in Node (13.11.0) and get the following error. Looks like the `uuidv4` library assumes a `crypto` global which isn't a global by default ([separate module](https://nodejs.org/api/crypto.html#crypto_crypto))
[code]

[2020-05-15 14:26] mpayson opened #335 "Incorrect unpkg URLs in doc"
Looks like the unpkg, non-SRI URLs in the doc add an extra `@esri/solution-` to the path?

For [`creator`](https://esri.github.io/solution.js/api/creator/)
doc: https://unpkg.com/@esri/solution-creator@0.9.1/dist/umd/@esri/solution-creator.umd.min.js
actual: https://unpkg.com/@esri/solution-creator@0.9.1/dist/umd/creator.umd.min.js

[2020-05-18 16:41] shoe913 commented on #322
Verfieid

[2020-05-18 16:41] #322 closed

[2020-05-19 13:24] MikeTschudi commented on #335
Thanks, @mpayson; fix will go out with next point release of project

[2020-05-20 21:59] chris-fox opened #339 "Failing to deploy feature service, attempting to delete fields from the definition."
Reproducible with below:
https://localdeployment.maps.arcgis.com/home/item.html?id=b5cefc03ca844af6923465ccdd673804

[2020-05-21 00:07] chris-fox commented on #339
#273 Issue was caused by EditFieldsInfo referencing fields that didn't exist in the layer.

[2020-05-21 00:07] #339 closed

[2020-05-22 19:19] shoe913 opened #342 "Failure to deploy when feature services aren't unique"
Fringe case.

When deploying a solution, if multiple feature exist with the same prefix and a guid, the solution will fail to deploy because each feature is given the same name during deployment.

Ex.
Service A:
service_GUIDA -> service_newGUID

Service B:
service_GUIDB - > service_newGUID

Workaround:
Change Item definition in solution so the names are different.

[2020-05-25 17:31] #329 closed

[2020-05-25 21:39] MikeTschudi commented on #335
Done, but needs solution.js build > 0.10.0

[2020-05-26 13:36] dbouwman commented on #316
This specific issue has been addressed. The larger issue of handing Blob's in node is still open

[2020-05-26 13:36] #316 closed

[2020-05-26 13:37] dbouwman commented on #304
Implemented in #343

[2020-05-26 13:37] #304 closed

[2020-05-26 13:39] dbouwman commented on #185
update - this work in on-going
- we will be landing the ability to "deploy" Hub Sites and Pages first
- then working to add the ability to convert Sites and Pages to tempaltes

[2020-05-26 18:03] shoe913 opened #345 "Deployed Joined View Tables Can't Access Data"
When a joined view with a table is deployed, the table's data cannot be accessed.

1) Deploy "Election Results" in the app
2) Go to the ElectionResults_join view layer and open it in a map
3) Try to view the table.

I suspect the issue is with the variable {{ab766cba0dd44ec080420acc10990282.layer1.name||Election Results to Jurisdictions}}

Comparing the results from deployment to the SDT, the nami

[2020-05-26 20:22] shoe913 opened #346 "Quick Capture Project issue with adding resources"
When deploying a quick capture project, it will fail with the following error.

![image](https://user-images.githubusercontent.com/11777080/82946787-d6056080-9f53-11ea-8eda-5d5e1b24c8d3.png)

The resource causing the failure is the qc.project.json. This does exist and is accessible (verified by python api).

It appears the UpdateResources request doesn't have the correct path for the json file for

[2020-05-26 20:22] shoe913 commented on #346
Can reproduce with "Andy Quick Capture"

[2020-05-27 14:08] chris-fox commented on #313
Verified.

[2020-05-27 14:08] #313 closed

[2020-05-27 14:35] chris-fox commented on #346
Assigned to @jmhauck because he originally did the work

[2020-05-27 14:45] chris-fox opened #348 "Store feature service default extent in template in case org extent isn't valid for service spatial reference"
In some cases a service may have a local coordinate system but the org extent it is being deployed to has a world wide extent. When we attempt to project to the org extents some of the extent values are returned as NaN. This causes a failure when attempting to create the service.

To resolve this during templatization I would like to store the Services "initialExtent" property as a new "defaultExt

[2020-05-29 17:34] chris-fox commented on #342
This will happen with multiple surveys authored where the app creates the service, or with multiple workforce projects in the solution.

[2020-05-29 22:52] shoe913 opened #355 "Deployment Replaces parts of Survey 123 Links"
When a solution is deployed with Survey123 links in the popup or html, some of the formatting is stripped.

Original:
[code]

Deployed:
[code]

[2020-06-02 12:25] chris-fox commented on #355
@shoe913, @jmhauck, curious if this is related to the sanitation work, #324. If this is not an easy fix I would be in favor of pushing the sanitation logic off until 8.3 so we have more time to test it. Our users won't have the ability to create their own solutions in 8.2

[2020-06-02 18:55] shoe913 commented on #346
Verified

[2020-06-02 18:55] #346 closed

[2020-06-03 14:39] chris-fox opened #361 "Item id of dependency in deployed Solution item is not being updated during creation"
I noticed today there is an issue in Production with the solution contents, nothing is showing as nested, it is showing as one long list. It appears the dependency item id is not being replaced with the new item, it continues to point to the original item that was templated.

Here is an item I can repro with, the original template looks fine, the resulting deployed solution has the issue.

https:/

[2020-06-03 16:01] shoe913 commented on #345
Verified

[2020-06-04 15:47] shoe913 commented on #345
@jmhauck

Not sure what happened between yesterday and today, looks like this issue is occurring again.

[2020-06-04 16:50] shoe913 commented on #345
@jmhauck

Yep that looks like the fix. I tested with a different solution yesterday and was using an old template today. Thanks!

[2020-06-04 16:50] #345 closed

[2020-06-04 17:51] shoe913 commented on #355
Typos in initial JSON caused the error. Everything working correctly.

[2020-06-04 17:51] #355 closed

[2020-06-05 18:51] chris-fox opened #366 "Add second pass on variable swap after all items created to Hub Sites and Pages"
I will admit that this is purely for display purposes in our Solution Item and that I can easily get this to work by making an item a dependency of the site. But I really would like to see us support a second pass on variable replacement for Hub Sites and Pages to allow me to have more control over the way things are displayed in the Solution item details

As shown below the 3 apps are all referen

[2020-06-05 19:04] dbouwman commented on #366
@chris-fox it's not a big deal at all - I can add it next week.

[2020-06-05 20:50] shoe913 opened #367 "Survey123 item descriptions with code prevent web survey from functioning"
When a Solution Item contains a Survey123 Survey whose description contains code (see item below for example) the deployed survey cannot be accessed on the web.

https://localdeployment.maps.arcgis.com/home/item.html?id=75ac397de9f149b1aede0bc2b23c7563

[2020-06-08 14:20] dbouwman commented on #367
@shoe913 can you make this item public? or - can @rweber-esri and I get accounts in whatever org you are working in so we can 👀 this?

Thanks!

[2020-06-08 15:03] shoe913 commented on #367
@dbouwman @rweber-esri

Item is now public. Thanks!

[2020-06-08 18:41] shoe913 commented on #361
Verified

[2020-06-08 18:41] #361 closed

[2020-06-08 19:40] chris-fox opened #368 "Add support for Native Application items as fileProcessor type"
This item type data is just a zip so assuming it will be pretty straightforward. It is for app studio applications. The team is planning to release a solution that has this item type after UC so want to see if we can get it in 8.2.

https://www.arcgis.com/home/item.html?id=a6f18f73a0d244a28fa38573d804168b

@jmhauck, let me know if you see any risk with putting this in now.

[2020-06-08 20:28] chris-fox commented on #367
@shoe913, not sure if I missed a step, but i tried to deploy it and it worked fine and was able to access the survey on the web. I used the latest version of our ec2 app to do this.

[2020-06-08 20:54] rweber-esri commented on #367
I'm observing the same; deployment completes successfully & I'm able to access the survey editor as well as submit & view results. @shoe913 are you still able to reproduce?

[2020-06-08 21:14] shoe913 commented on #367
@chris-fox @rweber-esri

It seems to be working for me now as well. Not sure what happened, since On Friday this was 100% reproducible.

I'll close the issue for now and keep and eye on it.

[2020-06-08 21:14] #367 closed

[2020-06-08 21:51] shoe913 opened #369 "Deployed ArcGIS Pro Packages Cannot be Opened Directly from AGOL"
1) Deploy a solution with and ArcGIS Pro Package (Recreation Outreach or Sewer Data Management)
2) Navigate to package's Item Details Page
3) Click "Open in ArcGIS Pro"

BUG: ArcGIS Pro will launch, but the item will not download and open the package.

If you click download, and then open the ppkx, everything works correctly. This seems to be an issue with how the pitemx is referencing the package

[2020-06-09 14:34] shoe913 commented on #335
Verified

[2020-06-09 14:34] #335 closed

[2020-06-09 15:21] chris-fox commented on #369
@shoe913, did you find a workaround for this? If not, seems like it should be critical for the June release.

[2020-06-09 15:33] shoe913 commented on #369
@chris-fox

There are 2 workarounds which can be used.

1) Download the package instead of clicking "Open In ArcGIS Pro". I think this will be what most people do if the open button doesn't work the first time.
2) We ship the project as a zip. This would force people to download.

I'll bump priority and we can make the work arounds be a last resort. If we can't get this addressed.

[2020-06-09 20:21] chris-fox commented on #369
@shoe913, this worked for me. At first it didn't work, but the problem for me was that I wasn't signed into the org in Pro that I had deployed to and the item was private, so it couldn't reach the item to download and extract. After I signed into the portal in Pro, closed Pro and then tried the Open in Pro it worked fine. I am at 2.6 Beta. Could this be the same issue for you?

We don't create or

[2020-06-09 20:33] shoe913 commented on #369
@chris-fox

At first I would see the issue regardless of the org I was signed into.

I cracked open the pitemx file and noticed that one of the item id's being referenced was the original item from the org used to create the solution item. I changed this to match the new item id and everything then worked fine.

As a test, I then changed the item id back to the original value (from source org, not

[2020-06-09 21:04] chris-fox commented on #369
If you could get an item that produces the pitemx pointing back to the original item id I would be interested in checking it out because we aren't include it as a resource with the item, so would be good to figure out why it continues to point to it.

[2020-06-11 12:50] chris-fox opened #374 "StoryMaps and Web Experiences not being placed in correct folder in user content"
Items are created in the user home folder and not moved to correct output folder. Ideally items would be created in the correct folder in the initial addItem request to save the need for a move request.

@dbouwman, @ghudgins

[2020-06-11 13:58] dbouwman commented on #374
Whoops! Added. Will land with my next PR that brings convertToTemplate for Sites and Pages - should be up later today @chris-fox

[2020-06-11 17:36] #374 closed

[2020-06-12 21:07] shoe913 commented on #330
Verified

[2020-06-12 21:07] #330 closed

[2020-06-12 23:32] shoe913 commented on #368
Verified

[2020-06-12 23:32] #368 closed

[2020-06-15 16:34] jmhauck commented on #342
@chris-fox the first occurance will get the GUID as it does today. Any additional occurances will get an additional "_" with a number. For example:

Service A:
service_GUIDA -> service_newGUID

Service B:
service_GUIDB - > service_newGUID_1

Service C:
service_GUIDC - > service_newGUID_2

[2020-06-15 17:57] chris-fox commented on #342
@jmhauck, makes sense thanks.

[2020-06-15 19:17] jmhauck commented on #342
[fs-names](https://github.com/Esri/solution.js/tree/b/fs-names)

[2020-06-15 19:19] jmhauck commented on #348
[f/store-fs-extent](https://github.com/Esri/solution.js/tree/f/store-fs-extent)

[2020-06-16 16:44] chris-fox commented on #257
Verified on QA

[2020-06-16 16:44] #257 closed

[2020-06-16 16:52] chris-fox commented on #369
@shoe913, tested this on QA today with Transit Outreach and the pro project worked both ways (Opening from Pro, or Opening from item details). This is the last issue in Solution.js. Wondering if we can close and wait to see if we get any other reports of an issue?

[2020-06-16 21:40] #369 closed

[2020-06-19 15:23] chris-fox opened #382 "Workforce projects with multiple integrations for different assignments types are not being templatized"
Reproducible with the item 1e555bb03afe4912b376374402be94aa

It has a section for Collector with their is an assignmentTypes object. These integrations are not being templatized in the resulting template.

{
            "id": "default-collector",
            "prompt": "Collect at Assignment",
            "assignmentTypes": {
                "1": {
                    "urlTemplate": "arcgis-collect

[2020-06-19 16:55] shoe913 opened #383 "Variables stored in License Information Don't always get swizzeled"
1) Deploy the "Andy Health Planning Test Deploy" Item.
2) On the Crowd Control item, the license information has a variable in the URL
3) Deploy the Swizzle test"
4) On the Credits Check item, the variables used have been swizzeled

Not sure if this is because the variable is in a URL or based on item type. Regardless, it should be swizzled. Will continue testing to narrow down issue

[2020-06-19 17:14] chris-fox commented on #383
@shoe913, try making the item that needs to be swizzle a dependency of the Crowd Control item. It may not be doing a second pass for item details.

[2020-06-19 18:02] shoe913 commented on #383
@chris-fox

That fixed the issue on the larger solution item.  The other item however, does not have the dependency listed.

This might be a good work around for now, but I think we may want a cleaner way forward sinceit seems a little inconsistent.

[2020-06-19 18:04] chris-fox commented on #383
yea, just trying to avoid any changes for UC if we have a workaround for now.

[2020-06-23 18:00] shoe913 opened #384 "Living Atlas Layers Cannot be Packaged into Solution Items"
When a living atlas layer is in a map, the solution item cannot be created.

It looks like the app is attempting to templatize the Living Atlas Layers.

Ex layer:
https://www.arcgis.com/home/item.html?id=a6134ae01aad44c499d12feec782b386#overview

[2020-06-23 21:26] shoe913 commented on #384
Verified

[2020-06-23 21:26] #384 closed

[2020-06-24 14:22] chris-fox commented on #383
This request is to do a second pass on the item properties, not just the data.

[2020-06-24 14:24] #302 closed

[2020-06-24 14:24] #57 closed

[2020-06-24 14:25] #44 closed

[2020-06-24 14:26] #185 closed

[2020-06-24 20:53] shoe913 opened #386 "Provide Feedback for copied resources"
When copying solutions, resources can be lost.

Create report or sum check to validate the number of copied resources matches the number of source resources.

[2020-06-25 21:53] shoe913 opened #388 "Provide Item Management Tools in Copy App"
When Migrating from QA to Prod, we will want to automate via Jenkins.

To further assist with this, we will need the copy code to do the following:

- Put the copied solution item into a specific folder
- Share the copied solution item with a group
- Share the solution item publicly
- Put delete protection on the copied solution item

[2020-06-26 16:40] shoe913 opened #389 "Copying multiple solutions loses resources"
When multiple solutions are copied between orgs, the utility says "Unable to copy Solution Templates", but the items are copied. Some of the copied items have resources, some have none.

There does not seem to be a pattern to why some resources aren't copied. Re-running the utility will (sometimes) copy resources correctly

[2020-06-30 13:49] gisjoel2 opened #390 "Solution deployment using groups not owned by user"
User A: Deploys Sewer Data Management solution
   - Is the owner of 4 Groups (one is Sewer Editors)
   - User A adds User B to Sewer Editors group

User B: Deploys Sewer Data Management solution
   - Solution creates all items for the solution but uses the Sewer Editors group owned by User A

Expected outcome:
Solution creates new Sewer Editors group owned by User B to deploy items into.

[2020-06-30 20:43] shoe913 opened #391 "Cannot create solutions which contain a living atlas layer and a geocode service"
Web App Builder apps which contain a widget that uses a geocode service (search, screening, etc.) and a map with a living atlas layer cannot be converted to a solution item.

[2020-07-02 20:53] chris-fox opened #392 "Gallery card group reference broken when solution deployed by user who can't create shared edit groups"
When a gallery card is templatized the following variables are created for the groups.

"groups": [
 "{{teams.collaborationGroupId}}",
"{{teams.contentGroupId}}"
 ],

When deployed by a user who doesn't have permissions to create a shared edit group the collaboration group isn't created and results in the variable not being replaced. This breaks the reference to the content group in the card.

"gr

[2020-07-02 21:02] dbouwman commented on #392
Ick... @chris-fox I believe a short term fix *for a site template* is to add `:optional` on the end of each of those in the template.

For pages, this is snarlier... if we add `:optional` the entry will be removed from the json... but since Pages are created before the site, the `teams` hash can't possibly exist at that point... so it will be removed... but we want it to remain until the "second p

[2020-07-02 21:08] chris-fox commented on #392
@dbouwman, another thought, do we even need to add this variable to the group array during templating? My originally gallery card was just referencing my content group, not the collaboration group. It was automatically added when the template was created.

[2020-07-06 14:42] shoe913 commented on #391
@jmhauck

Is there anyway we can work to get this included into a build a little sooner rather than later? Several solutions we plan on releasing in July require this to build and we'd like to make sure we don't hit any other issues during testing.

[2020-07-06 14:44] chris-fox commented on #391
@shoe913, could you put together a simple repro item for @jmhauck? Would help him debug and get a quicker fix.

[2020-07-06 17:27] shoe913 commented on #391
@jmhauck you can repro the error with this app.

https://arcgis4localgov2.maps.arcgis.com/home/group.html?id=6c1e20ee307641b884c63e3b4545f2dc

[2020-07-06 20:36] dbouwman commented on #392
@chris-fox interesting - I think that was an explicit design decision by @ghudgins because Hub does not have the sense of "cloning" a Group, so in order to have a gallery card do *something* upon Solution deployment, we opted to have the collaboration group and the content group injected. It may be better to just have the content group as that's a "vanilla" group so anyone can create it... thought

[2020-07-06 20:38] ghudgins commented on #392
i think this is an auto templating rule adjustment we could make (gallery cards are just wired to content group...not core groups)

[2020-07-07 14:52] shoe913 opened #394 "When a solution fails to deploy, Hub pages aren't removed"
During a failure to deploy, all related content should be removed.

It looks like the delete protection is preventing the Hub pages from being removed.

[2020-07-07 18:42] dbouwman opened #395 "Proposal: Solution Resource Schema"
# Solution Resources

## Current Situation

Solution Items store resources using the following conventions:

Within the templates hash, each item template has an array of resources...

[code]

Information about the resource is encoded into the path

| Type | Pattern |
| --- | --- |
| thumbnail | `/<sourceItemId>_info_thumbnail/<thumbnail-image-name.ext>` |
| info | `/<sourceItemId>_info/<filename>

[2020-07-07 19:51] dbouwman commented on #392
@chris-fox we will be updating the site serializer to *not* add the collaboration group id

[2020-07-17 17:13] shoe913 opened #401 "Solutionid type keyword not long enough"
The type keyword created for solutionid needs to be 32 characters. We're currently only getting 8

Item:
https://localdeployment.maps.arcgis.com/home/item.html?id=2e9600ba0a4b46e8bbe6cd1849481f2c

Keywords:
`['Solution', 'solutionid-90zlov5f', 'solutionversion-1.0', 'Template']`

[2020-07-17 17:17] shoe913 opened #402 "During Solution Creation Some resources are lost"
During solution creation, some resources are lost or incomplete.

- This occurs mostly with larger solutions.
- There doesn't seem to be a pattern as to what is lost.

This group has reproduced the issue sporadically
https://arcgis4localgov2.maps.arcgis.com/home/group.html?id=f4cbf4d6f1fb41f8b0eea1c3a6683d46#overview

[2020-07-21 14:20] dbouwman commented on #402
@MikeTschudi I wonder if this is a reoccurrence of the issue you were running into in March(?), and tried to resolve by zipping them all up.

fwiw - I ran my parallel resource upload test harness, and it successfully ran:
- uploaded 17 image files, ranging in size from 300kb to 6MB
- uploaded two zip files - one 30mb, one 49mb
- all promises fired in parallel

Granted this is running in node... bu

[2020-07-21 17:10] shoe913 commented on #342
Verified

[2020-07-21 17:10] #342 closed

[2020-07-27 15:47] shoe913 commented on #348
Verified

[2020-07-27 15:47] #348 closed

[2020-07-27 16:51] shoe913 opened #407 "Incorporate portalURL parameter into Create App"
This will allow development of solutions in devext and other portal environments.

[2020-07-28 14:40] MikeTschudi commented on #407
Moved to https://github.com/ArcGIS/solution-creation-online/issues/10

[2020-07-28 14:40] #407 closed

[2020-07-30 20:44] chris-fox opened #411 "Python Notebook file is not being written out with a .ipynb extension"
Python Notebooks can be downloaded from the item and currently after deployment you just get a file named 'file' with no extension. The pattern we should use is the item id of the created item with the extension .ipynb, for example 84461a1ba6f047d590542c714ee36e33.ipynb.

[2020-07-31 15:13] chris-fox opened #412 "During template creation don't replace an item's extent property with the {{solutionItemExtent}} variable if it is null or an empty array"
If an item's extent is null or an empty list don't replace it with the {{solutionItemExtent}} property. For example:

"extent": []
"extent": null

This item is a good example:

https://www.arcgis.com/home/item.html?id=e3e02b6094144ea29741e33e4c7277d8

The issue is for example the Crowdsource Polling configurable app will typically use the web map's extent to define its default extent when it loads

[2020-08-04 11:54] ajturner opened #415 "Add "Get Started" documentation"
the [Get Started](https://esri.github.io/solution.js/guides/) documentation provides rudimentary information for including the library. However it doesn't offer guidance for a developer on how to actually use the library.

It would be great if there were simple guides for using existing templates, creating new templates, etc.

[2020-08-07 19:09] shoe913 opened #419 "Support dependencies listed in Embedded elements"
Similar to  #48

In dashboards, if embedded content contains ArcGIS Online references (such as a survey), it should be templatized.

[2020-08-11 18:01] shoe913 opened #421 "Hub Initiative not always swizzeled."
When deploying a solution with a Hub Initiative, the {{initiative.item.id}} variable is not always swizzled on an event list card.

Steps to reproduce:
1) In an organization with Hub Premium, deploy Recreation Outreach
2) On the HUB Page, navigate to the Hunting, Boating, or Fishing Pages

BUG: On the event list card, the {{initiative.item.id}} has not been swizzled. (Deployment may need to occur

[2020-08-11 19:55] dbouwman commented on #421
@shoe913 are you sure the org the deploying user belongs to has Hub Premium enabled?

If not, the initiative item is not created, and thus the id is not present to be swizzed in. @ghudgins and I have discussed a number of possible solutions, but nothing that's fail-safe...

[2020-08-11 20:49] shoe913 commented on #421
@dbouwman

The org does have Hub Premium. If you look at this solution: https://arcgis4localgov2.maps.arcgis.com/home/item.html?id=c1d0a2d956ba4c9b9528e86ea5ba9440

It has been swizzled on the Main page and the Hunting page. Boating and Fishing didn't switch.

[2020-08-11 20:52] chris-fox commented on #421
I can say I have also encountered this in the past with the follow button. I have only ever seen it with pages, and it is not consistently reproducible. Andy's test case above is good because it has 3 pages each with an events card and follow button.

[2020-08-13 17:23] chris-fox opened #423 "Feature Service fails to create because of adminServiceInfo in createParameters in Enterprise"
We originally started adding and storing this property to capture the cacheMaxAge property. This property doesn't exist in Enterprise so we should be good to not pass this property at all for Enterprise.

"properties": {
"service": {
"adminServiceInfo": {
		"name": "SchoolDistricts",
		"type": "FeatureServer",
		"cacheMaxAge": 0,
		"status": "Started",
		"database": {
			"datasource": {
				"name"

[2020-08-13 17:44] chris-fox opened #424 "Views fail to create in Enterprise during updateDefinition"
The following error is raised:

{"error":{"code":500,"message":"Field 'sourceServiceFields' cannot be updated.","details":[]}}

I see we are sending this property in the updateDefinition call, but I am not clear what it is attempting to set on the view. Do we need this?

[2020-08-13 17:45] chris-fox commented on #424
You can repro this with 9a1454188424415fadd7745f219c3ce1, but need to resolve #423 first to get to the view creation.

[2020-08-14 19:03] MikeTschudi opened #427 "Workforce code doesn't work in Safari"
The function
[code]
fails in Safari due to unsupported lookbehind ([file](https://github.com/Esri/solution.js/blob/986428c54f65c9699dafd42bb0c89e6ee18f5c9b/packages/simple-types/src/workforce.ts#L294-L296))

[2020-08-14 21:10] jmhauck commented on #382
please check this in Safari as well

[2020-08-14 22:07] jmhauck commented on #424
sourceServiceFields is a hash that was used for field name comparisons and never should have been going out with update calls.

[2020-08-18 19:51] chris-fox opened #430 "{{portalBaseUrl}} is not being replaced with correct url in Enterprise"
When I deploy to Enterprise which has base url like, 'https://rpubs16038.esri.com/portal/' the variables in all the solutions are being replaced with 'https://rpubs16038.esri.com/portal/sharing/rest/' which breaks many of the references in the maps and apps.

[2020-08-18 19:52] chris-fox commented on #423
Verified

[2020-08-18 19:52] #423 closed

[2020-08-18 19:52] chris-fox commented on #424
Verified

[2020-08-18 19:52] #424 closed

[2020-08-18 20:12] chris-fox opened #431 "Enhancements to deploySolution demo app"
- Use the same logic as the deployment app to name the folders in the destination org (The name of the solution, solution 1, solution 2), it currently names it ‘Deployment of Solution item 9a1454188424415fadd7745f219c3ce1’

- Name the solution item the same as the original solution item template name, it currently names it ‘Deployment of Solution item 9a1454188424415fadd7745f219c3ce1’

- Copy all

[2020-08-19 14:21] chris-fox opened #432 "Enterprise doesn't allow views being creating in parallel on the same service."
I encountered in the past with the python cloning code. Enterprise puts a lock on the source feature service whenever you are modifying a views definition. This lock prevents you from modifying other views of the same service and if for example you do attempt to make a change via addToDefinition or updateDefinition you will receive the following error on the view:

{"error":{"code":500,"message":"

[2020-08-19 14:27] chris-fox commented on #273
Verified

[2020-08-19 14:27] #273 closed

[2020-08-19 14:34] chris-fox commented on #412
Verified

[2020-08-19 14:34] #412 closed

[2020-08-19 14:42] chris-fox commented on #390
This request is to only search for groups owned by the deploying user when using the reuse option. Don't search for groups the user is a member of.

[2020-08-19 15:24] chris-fox commented on #382
Verified in Safari, everything worked well.

[2020-08-19 15:24] #382 closed

[2020-08-19 16:27] MikeTschudi opened #433 "${itemId} not being replaced for logo and icon URLs"
Deploying [My Trash Services](https://arcgis4localgov2.maps.arcgis.com/home/item.html?id=6ac8a7d46d364d9aa4fcacc4cb8738eb) yields a web mapping application with
[code]

[2020-08-19 16:35] chris-fox commented on #433
@MikeTschudi, this is expected behavior with WAB. ${itemId} is their way of creating a relative path to itself. How they get access to resources of the app itself. We shouldn't swizzle anything.

It is different from our variables of double curly braces. If you open the app you will see both the app logo and widget icon properly resolve to the corresponding resource:

![image](https://user-images.

[2020-08-19 16:36] MikeTschudi commented on #433
Thanks, @chris-fox!

[2020-08-19 16:36] #433 closed

[2020-08-19 17:45] chris-fox opened #434 "Binary items (Surveys, Zips, etc) fail when deploying a 2nd version if the first deployment is moved to the home folder"
1. Deploy 59a0c06c66794b42a6270d20556fa4a2
2. When it finishes go to your content and move the Voter Satisfaction Survey to your home folder
3. Deploy 59a0c06c66794b42a6270d20556fa4a2 again

You will get an error when it attempts to update the item with the zip:

{"error":{"code":409,"message":"Item with file 'Voter_Satisfaction_Survey.zip' already exists.","details":[]}}

There is a limitation in

[2020-08-19 23:18] MikeTschudi commented on #430
fixed via commit e92839242f432c1bb2e555c81315b08c7a99ee9a

[2020-08-20 18:30] chris-fox commented on #401
verified

[2020-08-20 18:30] #401 closed

[2020-08-24 20:19] chris-fox commented on #427
verified

[2020-08-24 20:19] #427 closed

[2020-08-28 13:24] chris-fox commented on #434
Verified local fix, removing from 8.3 project as we can revisit when arcgis-rest-js incorporates fix.

[2020-08-28 13:26] chris-fox commented on #391
@shoe913 , could you please verify for 8.3. Thanks.

[2020-08-28 13:32] chris-fox commented on #430
Verified

[2020-08-28 13:32] #430 closed

[2020-08-28 13:42] chris-fox opened #439 "Failing to create pages and sites in Enterprise"
I attempted to deploy the following item in Enterprise 10.8.1 and it failed with the error below in the Console.

https://www.arcgis.com/home/item.html?id=da0765bd3d0e46519bb1291492edabcb

![image](https://user-images.githubusercontent.com/6796763/91566924-57cda700-e912-11ea-97c6-12bed9f451ec.png)

I am using this Portal to test:

https://rpubrh76001.ags.esri.com/portal/

@dbouwman, @ghudgins

[2020-08-28 14:43] shoe913 commented on #391
Veerified

[2020-08-28 14:43] #391 closed

[2020-08-28 14:52] dbouwman commented on #439
Thanks @chris-fox - what version of Solution.js is 10.8.1 using? Master/Develop or some previous version?

[2020-08-28 14:55] chris-fox commented on #439
It is using the latest from develop.

[2020-08-28 16:13] dbouwman commented on #439
@chris-fox great - thanks... will let you know asap when I have a fix

[2020-08-28 19:05] MikeTschudi commented on #411
The original name is stored in the solution (`"name": "6cac3d4789b54c8b851af446732e2ba3.ipynb"`), but in the deployed notebook the name is as described above: `"name": "file"`. The `update` REST call containing the Notebook for the item is missing the `fileName` parameter.

[2020-08-28 23:14] MikeTschudi commented on #394
Hub page is missing a property that is used to test if it is protected, and thus must be unprotected before attempting a delete. Missing property problem is reported in https://github.com/Esri/hub.js/issues/342

[2020-08-31 18:25] MikeTschudi commented on #383
There were two problems with this example
1. The variable in `licenseInfo` was spelled `itemid` instead of `itemId`.
2. As @chris-fox mentioned above, the QuickCapture item didn't have the Dashboard item in its list of dependencies, which risks that the QuickCapture item will be created before the id of the deployed Dashboard item is known.

Both cases can lead to the replacement symbol not findab

[2020-08-31 18:36] chris-fox commented on #383
@MikeTschudi, yes we were able to work around this. However, the issue is sometimes we may have circular dependencies that need to be resolved, for example #298, that can't rely on dependencies.

We currently handle this by doing a second pass after all items have been created to see if any variables still exist in an item's data and update.

The request in this issue is to extend this logic to al

[2020-08-31 18:53] dbouwman commented on #394
@MikeTschudi - I also responded in hub.js issue - `item.protected` is a standard property of an item in AGO... so I'm not clear why/how it would not be present on the Page items

[2020-08-31 18:54] dbouwman commented on #266
closing as this has been resolved

[2020-08-31 18:54] #266 closed

[2020-08-31 19:04] dbouwman commented on #421
Interesting - @shoe913 / @chris-fox can one of you set me up an identity in that org? `dbouwman_localgov2` would be great, and `dbouwman@esri.com` for an email.

Typically, when we see things that work "sometimes", then it's not a foundational issue... i.e. the "swizzle" / interpolation process itself is sound.

However, that sort of behavior does smell like a concurrency issue... like those un-sw

[2020-08-31 21:48] dbouwman opened #443 "Remove @license from all files other than the top-level index.ts"
When building using webpack, the default behavior is to retain comments marked with `@license`.

However, since we have this in every single file, this results in the Esri license header being kept in the built output dozens and dozens of times, bloating the build output.

In Hub, we have overridden this behavior for now, but ideally we would simply remove the `@license` directive from all but the

[2020-08-31 22:40] #439 closed

[2020-08-31 23:02] MikeTschudi opened #444 "Add check in item's info/details for unresolved variables to post processing"
Chris: The issue is sometimes we may have circular dependencies that need to be resolved, for example #298, that can't rely on dependencies.

cf. #383

A function `postProcess` performs a second-pass check on the `data` property
[code]
in each of the notebook, quickcapture, simple-types modules.

With this issue, we also check the `item` property as is done with feature-layer's `postProcess` funct

[2020-08-31 23:03] MikeTschudi commented on #383
Resolved for "Andy Health Planning Test Deploy" test case. Moving broader request to new issue #444.

[2020-09-01 00:36] MikeTschudi commented on #443
@dbouwman, we are using copyright text that we were required to use. A single copy of it per webpack output file would be great.

[2020-09-03 16:09] shoe913 commented on #421
@dbouwman I've just added you to the org.

Thanks for taking a peek!

[2020-09-03 23:03] shoe913 commented on #411
Verified

[2020-09-03 23:03] #411 closed

[2020-09-04 15:36] #129 closed

[2020-09-04 15:39] chris-fox opened #446 "Write the user params to the deployed Solution item"
"params" : {
"wkid": 102100,
"options1": "Hello World"
}

[2020-09-04 15:54] chris-fox opened #447 "Populate the params in the replacement dictionary with default set if not supplied by the user."
I am leaving this as a question of whether we should do this or not.

When deploying a solution with the params like below, if we were to deploy with solution.js and the user doesn't provide input we could automatically handle any params with default values and insert them into the replacement dictionary. For example

This in the item:
[code]
Would translate to this in the replacement dictionary:

[2020-09-04 16:11] shoe913 opened #448 "Create Solution Item with default thumbnails"
When creating a solution template, apply a default thumbnail to the contents based on item type.

[Solution Thumbnails.zip](https://github.com/Esri/solution.js/files/5175867/Solution.Thumbnails.zip)

[2020-09-04 16:53] chris-fox opened #449 "Fail to deploying feature service to Enterprise, 'sourceSchemaChangesAllowed' cannot be updated."
This solution fails when attempting to deploy to Enterprise when creating a feature service called 'Workforce'.

da0765bd3d0e46519bb1291492edabcb

In the update call we are passing 'sourceSchemaChangesAllowed': true and the error returned is you are not allowed to update this property.

It doesn't seem like we need to pass this in the updateDefinition request as it is in the original addToDefiniti

[2020-09-04 17:23] chris-fox opened #450 "Failing to create site in Enterprise, with CORS error attempting to fetch apps/sites/locales/en.json"
I attempted to deploy the following item in Enterprise 10.8.1 and it failed with the error below in the Console.

https://www.arcgis.com/home/item.html?id=da67b304a5ed4ae8a6780fd13d902c74

![image](https://user-images.githubusercontent.com/6796763/92269240-cc27bd80-eeb1-11ea-91e9-6602a4b1ebfe.png)

I am using this Portal to test:

https://rpubrh76001.ags.esri.com/portal/

@dbouwman, @ghudgins, @Mi

[2020-09-04 17:24] chris-fox commented on #450
I am using the latest from the develop branch

[2020-09-08 13:03] chris-fox commented on #448
When we work on this issue I don't want to change the default behavior of solution.js. In the api we should continue to pull the original item's thumbnail. This behavior is just specific to the Create app for the Solutions team, so maybe this is a post process after the solution item is created.

[2020-09-08 13:22] dbouwman commented on #450
@chris-fox Portal itself has these CORS policies... it's not something we control. We need to access the locale file when creating the various teams, so we can translated titles/descriptions.

The issue is that you are running the test app somewhere other than under /apps or /home. This is not a simple thing to work around. As I mentioned to @MikeTschudi , on our team we do this type of dev't / te

[2020-09-08 13:35] ghudgins commented on #450
could try adjusting "allow origins" in portal settings under security (org settings in online)

that's an odd configuration though!

[2020-09-08 14:05] chris-fox commented on #450
Our app at 10.9 will be installed under /apps so it sounds like that will be fine and I can look into the workarounds above for testing, but doesn't this impact the use of solution.js as a public api for our users?

[2020-09-08 15:09] shoe913 commented on #383
Verified

[2020-09-08 15:09] #383 closed

[2020-09-08 16:57] dbouwman commented on #450
@chris-fox if the users are working against AGO, it's fine, as we host the translation files in a S3 bucket w/ CORS enabled.

But if they are working against their Portal instance, they would need to enable CORS on the Portal server... unf. - afaik - there is no way around this

[2020-09-09 16:23] shoe913 opened #455 "Repair field index during solution creation if used as key field in relationship"
If a solution Item has a layer with 2 relationship classes and the same key field is used, the deployment fails when updating the layer with the relationships.

The error states
The operation failed because an index or statistics with name 'agency_case_number_unidx' already exists on table 'sh_db_27881.user_43804.UseOfForce_100527e76a5a474985107788af5fda94_INCIDENTS'.

This does not exist in the i

[2020-09-09 16:30] chris-fox opened #456 "Enforce all views have the same spatial reference as the source service"
Views must have the same spatial reference as the source service. Because in some cases we allow users specify a spatial reference it is possible in another solution with different views on top of the service they specify a different spatial reference.

If you attempt to create a view on top of a service using a different spatial reference it will fail. We should always have views inherit the spat

[2020-09-09 17:16] chris-fox commented on #455
This is because the layer that has a relationship in which it is the origin has a non-unique index on the key field in the relationship. When you add a relationship to a layer it will attempt to add a unique index and because the layer already has a non-unique index on the same field it will fail.

I believe this is easily resolved in the template by changing the "isUnique" property from false to

[2020-09-09 20:27] chris-fox opened #457 "Store the url property of items in the replacement dictionary to be available to other templates in the solution"
Currently we store the item id of as a replaceable variable so that it can be swizzled in other items. For example:

{{cd4e7edbca5c428a86e755e701a438b5.itemId}}

This request would be to also add the url property of the item to the replacement dictionary:

{{cd4e7edbca5c428a86e755e701a438b5.url}}

This is necessary for items like web experiences because the url can change between Online and Enterp

[2020-09-10 17:45] mpayson opened #458 "Wrong authentication passed when fetching item template"
[getItemMetadataAsFile](https://github.com/Esri/solution.js/blob/develop/packages/deployer/src/deployer.ts#L75) passes in the deployment recipients session (`authentication`) resulting in a `403` error -- this should be the storage session (`storageAuthentication`). cc @MikeTschudi

[code]

[2020-09-11 18:43] chris-fox opened #462 "Fallback not being used for spatial reference when replaced with param"
We are currently doing the following for the spatial reference property for services that we allow users to specify.

"spatialReference" : {
"wkid" : "{{params.wkid||102100}}"
}

This allows it to default to 102100 if the param isn't provided. However, when attempt to deploy w/o specifying the param it is failing in the findTransformation request because this is being sent as the param:

f: json
i

[2020-09-11 19:02] shoe913 opened #463 "Content Tree For Solution Items not appearing"
In devext, the content tree for solution items does not appear for deployed solutions or the templates.

[2020-09-11 20:43] jmhauck commented on #463
Have a PR in arcgis-portal-app repo for this

[2020-09-11 22:05] jmhauck commented on #463
@shoe913 merged...should be able to check after the next build

[2020-09-14 21:38] shoe913 commented on #463
Verified

[2020-09-14 21:38] #463 closed

[2020-09-15 21:49] MikeTschudi opened #468 "Some demo apps (e.g., createSolution) fail due to missing hub packages"

[2020-09-16 15:52] chris-fox commented on #444
@MikeTschudi, I can still reproduce this with a quick capture project:

8c6fa046e2c042ab9f8dae9972323351

The quick capture project has a couple variables in the Terms of Use:

![image](https://user-images.githubusercontent.com/6796763/93361616-0d559100-f813-11ea-8696-766aa8ce2f56.png)

When deployed the portalBaseUrl is replaced, but the itemId variable of the Dashboard also in the solution is no

[2020-09-16 15:56] chris-fox opened #470 "Add support for Oriented Imagery Catalog item type"
Requested by the Quick Capture team. Here is an example item: d59f544e84ce441daf00bae360940c94

The json seems pretty straightforward. It looks like the only dependencies it has is on a hosted feature layer in the "ServiceURL" and "OverviewURL" properties.

This is how the OIC was templatized using our basic JSON templatizer with no item-type-specific customizations:
    {
      "itemId": "d59f544

[2020-09-16 21:08] chris-fox opened #471 "We are setting the wrong variable for the Shape field join views"
This doesn't seem to impact ArcGIS Online, but it fails now in Enterprise at 10.9. Currently we template the shape field in the same way we template the source service name:

[code]

However, what I see in Online when I create a join through the UI and what Enterprise requires is you use the 'name' property of the table specified in the view definition.

[code]

For whatever reason ArcGIS Online s

[2020-09-16 21:10] chris-fox commented on #471
Here is a join view you can test with, ab766cba0dd44ec080420acc10990282

[2020-09-17 18:00] chris-fox opened #474 "Solution.js failing to load on iOS after a recent change"
Since the last release of solution.js an error was introduced that results in the following error:.

![error](https://user-images.githubusercontent.com/6796763/93509352-993beb80-f8ed-11ea-8308-f0e272e6c25a.png)

[2020-09-18 13:47] #298 closed

[2020-09-18 15:42] chris-fox opened #477 "Add post-process to solution creation to search for and replace item id, feature service url, and portal base url refereneces"
Today we have a lot of scenarios where we are referencing apps/maps/layers from arcade expressions, web map pop-ups, html references in Hub sites and these item references are not automatically picked up and replaced when the solution item is created. This is because it can be challenging to find and determine if these references should be included or not.

I believe we could handle the majority o

[2020-09-18 15:45] chris-fox commented on #419
I think we should handle this with #477

[2020-09-18 15:45] chris-fox commented on #48
I think we should handle this with #477

[2020-09-22 14:00] chris-fox commented on #474
Verified

[2020-09-22 14:00] #474 closed

[2020-09-23 21:59] mpayson commented on #458
Confirmed this was fixed in the latest releases, closing -- thanks!

[2020-09-23 21:59] #458 closed

[2020-09-24 20:18] shoe913 opened #483 "Can we determine or force a table name for features?"
When a service is created from a CSV or xlsx file, it has the ability to be overwritten.

![f57dd7b4-d754-4fc3-baf9-a01c3ba8eaae](https://user-images.githubusercontent.com/11777080/94195376-c5b0b400-fe67-11ea-87de-e84a1a19bbfc.jpg)

This feature service has an accompanying xlsx file which contains the data for the service. After templatization and deployment, this connection is lost and the overwr

[2020-09-24 21:04] xiao8579 opened #484 "QuickCapture package?"
QuickCapture team:

We hope to enhance our current Templates experience by migrating all our existing templates to be all solution-based. This would be an exciting feature for our next release, **targeting mid-November 2020**, and we are hoping to work collaboratively with you to make it happen.

Cc: @MikeTschudi @chris-fox

[2020-09-28 13:22] chris-fox commented on #462
No longer repo

[2020-09-28 13:22] #462 closed

[2020-09-28 13:24] chris-fox commented on #447
I feel it is by design if you supply a user param you always provide a fallback value. We don't need to account for this in solution.js

[2020-09-28 13:24] #447 closed

[2020-09-28 13:39] chris-fox opened #485 "Ignore Hub site draft when converting to a template"
Don't include the draft json resource of a Hub site in a solution template.

@ghudgins, @dbouwman

[2020-09-28 16:35] MikeTschudi commented on #458
Thank ***you***, Max!

[2020-09-28 23:03] MikeTschudi opened #486 "Replace deprecated node packages"
From a recent `npm install`:
* npm WARN deprecated rollup-plugin-commonjs@10.1.0: This package has been deprecated and is no longer maintained. Please use @rollup/plugin-commonjs.
* npm WARN deprecated rollup-plugin-node-resolve@5.2.0: This package has been deprecated and is no longer maintained. Please use @rollup/plugin-node-resolve.
* npm WARN deprecated rollup-plugin-json@4.0.0: This module ha

[2020-09-29 14:09] chris-fox opened #488 "Webmap thumbnails are being overwritten when the web map is saved"
Typically when you first create a web map it makes a call to the print service to create a thumbnail of the map. In our solutions we are providing thumbnails for the web map and want to persist this even after a save. However, after you deploy if you go to the web map and save it, the thumbnail is updated.

This is not reproducible with the python cloning logic so I am thinking there is a minor di

[2020-10-01 17:24] jmhauck commented on #449
After removing sourceSchemaChangesAllowed it was still failing. Not a message that stated it directly as it did with sourceSchemaChangesAllowed but I found that I also needed to remove isView (set when you create the feature service). After that it was also failing when the initalExtent for the table was null so that is also now removed when going to portal when it comes in as null.

[2020-10-01 17:27] chris-fox commented on #449
thanks @jmhauck, appreciate you running all those down.

[2020-10-02 16:57] chris-fox opened #491 "Dispatcher in Workforce Classic projects not being added successfully in Enterprise."
In Enterprise the 'userId' field becomes 'userid' and as a result attempting to add the deploying user to the dispatchers table is not successfully setting the userid field because of the case difference:

adds: [{"attributes":{"name":"Creator Default","userId":"creator1"}}]

It looks for Enterprise we just need to pass it as "userid". This is not an issue for the new Workforce Projects because ev

[2020-10-02 19:12] chris-fox commented on #432
Hi @jmhauck , I tested and verified this resolved it in 46e58afa7e494fbebe5eb8c25e8035fa, but I am still seeing the issue with 36507dff46f54656a74032ac12acd977. It is creating and updating 2 views on the Assignments feature service at the same time.

{"error":{"code":500,"message":"The service is locked because it is modified by another thread.","details":[]}}

[2020-10-02 19:22] chris-fox opened #492 "Failure to create ArcGIS Hub group if org 'Members can share content publicly' security setting is disabled"
If the organization has disabled the setting 'Members can share content publicly' for all users during deployment solution.js attempts to create a Hub Group with access of public which fails and breaks the deployment. To repro you need to make sure you are not an admin in the org, because admins can still share with the public.

{"error":{"code":500,"messageCode":"COM_1026","message":"User cannot

[2020-10-02 19:42] dbouwman commented on #492
Interesting - @chris-fox do you know how the org wide setting manifests? i.e. is there some other priv? or some other thing we need to fetch to know about this? As you see, we handle the case where the user lacks the individual priv...

[2020-10-02 20:38] ghudgins commented on #492
I think we know what we missed. we had some failover logic in the hub's frontend that  might've not made the big move into hub.js / solutions.js. we'll take a look next week

[2020-10-02 22:00] MikeTschudi commented on #477
In each item's template, searching these properties of an item's template:
* `data`
* `assets` (for Hub Site Application)

Only ids that are items in the Solution are templatized.

[2020-10-06 17:10] chris-fox commented on #477
@MikeTschudi, I don't believe we want to do the replacing on the assets of a Hub Site. I believe these urls are intended to point to the original item and are only used during the site creation of the resources don't exist in the solution item. So I think we are good to just search the item and data json.

[2020-10-06 17:20] MikeTschudi commented on #477
Chris:

[2020-10-06 21:33] MikeTschudi commented on #477
@chris-fox, would you please provide additional detail for "For every feature service in the solution for the base url as well as each layer url and replace with the corresponding variable"?

[2020-10-07 15:14] chris-fox commented on #477
@MikeTschudi, We should look for any feature service urls included in the solution and replace with the correct variable. For example, take the Feature Service:

https://services7.arcgis.com/piPfTFmrV9d1DIvN/arcgis/rest/services/InfrastructureProjects_allfundedprojects_db6e5e2ed53d47b1b846c363547ca1b9/FeatureServer

That has sub layers of:

https://services7.arcgis.com/piPfTFmrV9d1DIvN/arcgis/rest

[2020-10-07 16:43] shoe913 opened #498 "Metadata resources can overwrite thumbnails on deployed items"
When deploying an item with a thumbnail which has manually been changed via JSON, the metadata settings can overwrite the thumbnail and leave the deployed item as a default image.

[2020-10-07 17:24] MikeTschudi commented on #498
@shoe913, would you please describe the manual changes?

[2020-10-07 17:28] chris-fox commented on #498
I am not sure how we would fix this and I don't think we should do anything to fix this. In the long run people should be updating the thumbnail of their items before they package them, we just aren't able to for some solutions because of the items use in the SDT. If you update the thumbnail of the item prior to packaging this is not an issue.

If you want to fix it in the Solution item you can ed

[2020-10-07 18:30] shoe913 commented on #498
@MikeTschudi
We are seeing this occur with items where we change the thumbnail after the solution item has been created with the workflow below.

1)	Create solution item with metadata
2)	Add new resource as “guid_info_thumbnail/item”name
3)	Replace thumbnail path in the resources of item’s json

From looking at the metadata for the item, the thumbnail property is certainly causing the problems.

@

[2020-10-07 18:45] chris-fox commented on #498
I guess I am not sure how we fix this in solution.js The behavior in solution.js is to add the item (including the thumbnail) and then update the metadata if available. We could update the metadata and then update the thumbnail, and then the thumbnail would win, but this adds an additional request for each item and I have really pushed to limit the number of requests.

I agree with you it is conce

[2020-10-07 19:34] shoe913 commented on #498
I too would like to ensure we don't go over board with requests.

I can certainly add that functionality into the standardizer script, and I think it will be the better way to go. I'll look into what the best way to do this is.

[2020-10-07 19:38] MikeTschudi commented on #498
We add the metadata separately because it's in shared code. We can move it into the call that sets the other item properties, which would save a request. I don't know the relative weight in AGO of the thumbnail property vs. the thumbnail part of the metadata property.

[2020-10-07 23:11] shoe913 opened #499 "Notebook items don't have variables flipped on deployment."

[2020-10-07 23:11] shoe913 commented on #499
Verified

[2020-10-07 23:23] cosbyr commented on #499
verified in devext and qa

[2020-10-08 00:15] shoe913 commented on #499
Verified on Prod

[2020-10-08 00:15] #499 closed

[2020-10-08 16:38] MikeTschudi opened #500 "Simplify demo app management"
Continuing pattern created by @dbouwman in branch https://github.com/Esri/solution.js/tree/c/combine-demo-apps

[2020-10-08 16:43] MikeTschudi opened #501 "Hub Site Application missing dependencies to its summary-statistic-card feature services"
Propose adding `summary-statistic-card` case to `@esri/hub.js` `get-card-dependencies.ts` in package `sites`:
[code]

And accompanying update to `get-card-dependencies.test.ts`:
[code]

[2020-10-08 17:32] MikeTschudi commented on #501
See https://github.com/Esri/hub.js/pull/394

[2020-10-08 18:21] MikeTschudi commented on #477
Very helpful--thanks, @chris-fox.

Also led to hub.js enhancement https://github.com/Esri/hub.js/pull/394

[2020-10-08 22:16] jmhauck commented on #432
I am still seeing an issue with any join views when going to portal. Seems like it struggles with the duplicate field names across the join view sources...for things like globalid objectid and so on. Will need to take a closer look when joins are supported in portal.

[2020-10-13 18:23] chris-fox opened #506 "Logic for finding unique group name is not handling trailing whitespace"
If a solution contains a group with a title containing trailing whitespace characters and you attempt to deploy the solution 2x, it doesn't properly handle giving the group a unique name and fails to create the group. It appears when we create the group REST strips the trailing whitespace characters. Then when you deploy a 2nd time we compare the title with trailing whitespace and don't find a mat

[2020-10-13 19:04] chris-fox commented on #491
Verified

[2020-10-13 19:04] #491 closed

[2020-10-13 19:09] chris-fox commented on #449
Verified

[2020-10-13 19:09] #449 closed

[2020-10-13 19:13] chris-fox commented on #432
Verified

[2020-10-13 19:13] #432 closed

[2020-10-13 19:34] chris-fox commented on #471
@jmhauck, this looks good on deployment and appreciate you doing it in such a way that doesn't require us to fix the existing templates. I wonder if we should fix this in the creation process too?

Essentially, don't templatize this property:

"geometryField": {
                        "name": "ElectionResults_1552494094382_target.Shape"
                    },

This makes it more accurate moving f

[2020-10-13 20:20] chris-fox commented on #444
Verified

[2020-10-13 20:20] #444 closed

[2020-10-13 22:57] shoe913 opened #508 "If a value doesn't exist in the replacement dictionary and it is referenced in an optional variable, it breaks all optional variables after"
Organization variables (like the ones below) are not swapped out when the target organization does not have Hub Premium.

![image](https://user-images.githubusercontent.com/11777080/95924616-c6ed4680-0d6c-11eb-919d-cc936b367fa8.png)

{{organization.name||My Organization}}

{{organization.portalProperties.sharedTheme.logo.small||https://www.arcgis.com/sharing/rest/content/items/28989a5ecc2d4b2fbf62

[2020-10-14 15:25] chris-fox commented on #508
@shoe913, i reproduced this the first time i deployed the solution to the org, but it worked properly the 2nd time and I can no longer repro. Are you seeing the same. Does your org have a shared theme logo, this is different from the org logo at the top of the settings.

![image](https://user-images.githubusercontent.com/6796763/96010569-ec7f5c00-0e0f-11eb-92bd-9a6e2b8aa5e1.png)

[2020-10-14 17:27] shoe913 commented on #508
@chris-fox

After ensuring I had the logo in the correct place, it did start to work.

I still think we need to look into this though because I made no changes to the org name, and that did not swizzle until the image was swizzeling.  I think it is quite possible we have users who haven't set the shared image, but do want the org name copied.

[2020-10-14 17:34] chris-fox commented on #508
@shoe913, could you narrow it down then. Is this true that orgs w/o the shared theme logo fail? My understanding is they shouldn't have anything to do with each other. I want to get to the consistent simplest repro case before we pass along.

[2020-10-14 17:50] chris-fox commented on #477
@MikeTschudi, been testing this and I am finding it is not replacing feature service layer references that are not index 0. For example this Hub site, has 2 chart-cards that reference id 1 and id 2 from the same service. All references to id 0 are properly replaced, but not id 1 or 2.

https://arcgis4localgov2.maps.arcgis.com/home/item.html?id=3a336642896847ce88e208b9e0e4a232

[2020-10-14 20:36] MikeTschudi commented on #477
@chris-fox, thank you. The previous work was only setting up symbols in a feature service's `data` section; it now also looks in the `properties` section, which catches the missing urls.

[2020-10-15 13:09] chris-fox commented on #446
verified

[2020-10-15 13:09] #446 closed

[2020-10-15 13:23] chris-fox commented on #456
Hey @jmhauck, I think we are missing this scenario in this issue as I was still getting a failure:

1. Deploy the following solution b641e0dab0d4437ead2706ff1466ff66, and set the SR to a custom spatial reference (27700 for example)
2. Once complete go to you content and delete everything in the new folder with the exception of the SewerSystem and SewerMapNotes feature services
3. Deploy the same s

[2020-10-15 13:59] chris-fox opened #513 "Replace use of geometry service with 4.x api"
Can we explore if we can replace anywhere we currently use the portal's geometry service with equivalent functions in the JavaScript 4.x api? Specifically I am thinking findTransformations and project. We have had issues in the past with Enterprise not having a geometry service running so this should make it more reliable.

[2020-10-15 20:31] MikeTschudi commented on #457
@chris-fox, would you please expand on this? Is it like #477, except that for each item with a URL (e.g., a Web Map), we add a template-dictionarly mapping from the [Web Map's] URL to {{*webmap_id*.url}} for replacing the URL in other items?

[2020-10-15 20:38] chris-fox commented on #457
@MikeTschudi, yes that's exactly right. Some items like Experience Builder apps have complex logic for resolving their url so it works in Online and Enterprise. So after that is resolved it would be good to store that url in the template-dictionary, so that any items that want to reference it and just use the {{itemid.url}} variable to resolve it.

[2020-10-15 23:26] shoe913 commented on #508
@chris-fox

I can no longer reproduce this with my current orgs. However, when I create a trial org, I can consistently repro.  It seems that the shared logo is changing a few things.

Before Logo Added (trial with all defaults):
- Default logo present
- Org name missing (replaced with "organization.name")

After Logo Added (same trial, only add the logo):
- Logo Present
- Org name correct

After

[2020-10-16 13:59] chris-fox commented on #470
verified

[2020-10-16 13:59] #470 closed

[2020-10-16 14:03] chris-fox commented on #477
Looks great!

[2020-10-16 14:03] #477 closed

[2020-10-16 14:59] chris-fox commented on #455
Looks great

[2020-10-16 14:59] #455 closed

[2020-10-16 15:10] chris-fox commented on #506
Verified

[2020-10-16 15:10] #506 closed

[2020-10-16 22:16] MikeTschudi commented on #431
Implementing on top of #500

[2020-10-20 13:39] chris-fox commented on #488
Narrowed this down to the use of the thumbnailUrl parameter. I could repro this through python with this param. If we uploaded or passed the thumbnail as a binary it was not reproducible. I have sent a question to the online team to understand if this is a bug or if there is something else we need to do to prevent this behavior.

[2020-10-20 13:58] MikeTschudi opened #520 "Update rollup"
Updates lead to sporadic problem with `global` being defined for modules:
![image](https://user-images.githubusercontent.com/2125181/96512341-35bb1b80-1215-11eb-822d-699012a57a3a.png).

Added the line
[code]
to umd-base-profile.js to make sure that `global` is always set up.

Originally part of PR #517.

[2020-10-20 14:34] chris-fox commented on #508
@MikeTschudi, I was able to create a really simple repro case for this. Here are the steps:

1. This solution item has a single web map, https://www.arcgis.com/home/item.html?id=1c6caa14de614484a7ec76c2f960910c

1. The item description has the following html:

`{{organization.name||My Community}}<br />{{organization.nonexistantproperty.sharedTheme.logo.small||https://www.arcgis.com/sharing/rest/co

[2020-10-20 16:15] #500 closed

[2020-10-20 16:27] MikeTschudi commented on #508
Superb information; thank you @shoe913 & @chris-fox!

[2020-10-20 16:31] tomwayson commented on #520
Before doing this I think we should understand why `global` is needed?

I did a quick search and I don't see it used in this code base.

I'd be concerned about defining it like this, b/c I believe some packages check for the existence of `global` to know whether or not they are running in node. If so this would cause them to execute in a browser as if they were in a node environment.

[2020-10-20 16:37] MikeTschudi commented on #520
It seems as if we need `global` because of the error message killing the apps.  But the `intro` approach seems like it is fixing a symptom rather than the real issue, and that's not even counting the node detection aspect.

This issue and its branch isolate the problem from the ongoing development, so this problem is not holding up progress. But it sure would be nice to be able to use newer rollup

[2020-10-20 16:54] tomwayson commented on #520
Do you have an issue/link describing the error message, and in which apps?

[2020-10-20 16:59] MikeTschudi commented on #520
Message snapshot at top of this issue; I'll set up sample apps (it affected all of the solution.js demo apps and the creation and deployment apps that use the library).

[2020-10-20 17:08] tomwayson commented on #520
Silly me. Any idea what's going on at that `common.umd.min.js: 18`? What line in the source code does that translate too?

Also, the fact that it happens in the demos and prod apps implies a problem at the library level, but I agree that using `intro` is treating the symptom, not the problem.

[2020-10-20 17:13] MikeTschudi commented on #520
My concern is that the message first popped up when including Dojo, so it appears to be nondeterministic.

[2020-10-20 18:42] MikeTschudi commented on #508
fixed adlib: https://github.com/Esri/adlib/pull/54

[2020-10-21 13:41] chris-fox commented on #488
@MikeTschudi, this is what I learned from the ArcGIS Online team:

The issue is because the thumbnail name is not preserved in addItem and updateItem when passed as a url. This gets the default thumbnail name and is not seen as a custom thumbnail and thus is overwritten when the web map is saved. That is expected behavior.

There is also an api for items, updateThumbnail that allows you to preserv

[2020-10-21 13:54] chris-fox commented on #457
@MikeTschudi, been testing this and it doesn't seem to be working the way I would expect. The solution below has a web map that in its item description has the following:

{{fcb2bf2837a6404ebb418a1f805f976a.url}} <div>{{cefb7d787b8b4edb971efba758ee0c1e.url}}</div>

These are references to a Web AppBuilder and Experience Builder app items that are dependencies of the web map. When I deploy those va

[2020-10-21 13:57] chris-fox commented on #431
Verified

[2020-10-21 15:05] chris-fox commented on #434
Verified

[2020-10-21 15:05] #434 closed

[2020-10-21 15:21] chris-fox commented on #471
@jmhauck, this was my bad, I didn't realize in the original join layer the Shape field wasn't specified in the same way it needs to be passed into addToDefinition.

So the original join definition is:

geometryField" : {"name" : "Shape"}, which is what you are currently writting to the template.

I would like us to write to the template what it actually needs to be when you pass into the addToDefi

[2020-10-21 15:42] chris-fox commented on #456
Looks great

[2020-10-21 15:42] #456 closed

[2020-10-21 17:51] MikeTschudi commented on #457
@chris-fox, got it. Implemented url addition only to solution creation as with #477. Will add to deployment. Thanks for the example!

[2020-10-21 17:58] chris-fox commented on #457
@MikeTschudi, that was going to be my next request to get this implemented in the post process workflow during creation as well. So that's great. I will test this out as well.

[2020-10-22 17:07] chris-fox commented on #471
thanks @jmhauck

[2020-10-22 17:07] #471 closed

[2020-10-22 17:30] chris-fox commented on #457
Hi @MikeTschudi, I was testing this implementation of the item url property during solution creation with #477 and it is not working as I would expect. You can repro with the following group:

https://localdeployment.maps.arcgis.com/home/group.html?id=04f36eae6346438c873a461da54c4a2f

In the group is a web map and in its item description is the following text:

https://experience.arcgis.com/experi

[2020-10-26 14:15] chris-fox commented on #488
@ted-howard, if we resolve this than you won't see the thumbnails being renamed to ago_download issue as part of your download/upload tools.

[2020-10-26 16:05] chris-fox commented on #431
@MikeTschudi, missed this during my verification because I didn't test Enterprise, but now if I set the destination to Enterprise, it assumes the ID that I am deploying is also in that same Enterprise. I need to be able to set the source to Online and deploy it to Enterprise. Could we set the default for the source back to Online?

[2020-10-26 16:08] chris-fox commented on #431
Or should we add a section for credentials for the source organization at the top? Default the url to 'https://www.arcgis.com/ and if you don't pass credentials attempt to connect to the item anonymously.

[2020-10-26 20:22] dbouwman commented on #513
@chris-fox My concern with this is the ability to run/use the JSAPI in node... so if we want to explore this, it needs to be configurable such that the Solution App passes in a function that is called in place of the geometry service, but if that option is not provided then solution.js makes calls to the geometry service.

[2020-10-26 22:59] shoe913 commented on #419
@chris-fox  Looks like #477 addressed this.

The embedded URL is given variables, however the item is not discovered by the deployment tool (expected). If you package the item independently everything works correctly.

On my sample, deployment worked with item in the dependency list and outside the list.

I think this is the behavior we would want. When in the dependency list by default, functiona

[2020-10-26 23:14] shoe913 opened #526 "Layer Optimization Updates"
@chris-fox

After playing around with layer optimization, I think we should consider forcing all layers to be deployed without optimization -- either stripping on deployment, or during solution item creation (preferred, I believe).

We don't intentionally ship layers which consume credits, and according to the documentation, optimized layers can potentially use 100% more credits than normal layers

[2020-10-27 13:24] chris-fox commented on #419
Thanks @shoe913

[2020-10-27 13:24] #419 closed

[2020-10-27 13:34] chris-fox commented on #526
Thanks @shoe913, I agree. Updating the issue to request we remove this definition during solution creation:

During feature creation we should remove the following property from any layer in a Feature Service. You can just remove the property complete, it doesn't need to exist in the feature service. This will ensure that it is not enable when the feature service is created, which actually corrupt

[2020-10-27 14:39] ghudgins opened #529 "Feature service failing to deploy with long name"
STR:

I'm guessing at the culprit below. @dbouwman thinks there are two things happening (and solutions is swallowing the error opaquely). The tempalte I'm trying to deploy is available on this item in production as ghudgins5 / wally11turtle! http://eapsprod.surge.sh/items/b52003806ab94f06b4ee3452a9983d3c/edit

Fails with
![image](https://user-images.githubusercontent.com/5465514/97316185-d7f38880

[2020-10-27 14:43] shoe913 commented on #526
This solution item has an optimized and and un-optimized layer for reference.

https://arcgis4localgov2.maps.arcgis.com/home/item.html?id=953f8724fc824e0c95ada6038701e1b6

[2020-10-27 14:58] ghudgins commented on #529
there's also a `{success: false}` coming back from the `createService` API

[2020-10-27 15:12] chris-fox commented on #529
This is failing attempting to create the service as you found. It looks like it is happening because of the long name:

"name": "Travel_from_Transportation_WebMercator___Metro_Stations_(District)_(10_Minutes)_b9fa0f3ded304a04ac07a39704a5b81c",

I was able to repro the createService failure through the Home app with the same name.

The issue is we always append the itemID of the Solution to any fea

[2020-10-27 16:43] ghudgins commented on #529
interesting....i did try a shorter name in a curl  and still got the failure. thanks for triaging @chris-fox

[2020-10-27 16:46] chris-fox commented on #529
@jmhauck, I found the limit in online was 98 characters and was similar in enterprise. I think we should go shorter to be safe, so I would say we limit the name to 50 characters prior to appending the __GUID_, which would add an additional 33 characters for a total of 83. So anything in the original name greater than 50 characters should be dropped when creating the new name for the service.

[2020-10-27 16:52] chris-fox commented on #529
@ghudgins, I had to change the name property on the feature service in the template to a shorter name and it worked. For example i just changed it to "Travel_from_Transportation_WebMercator"

![image](https://user-images.githubusercontent.com/6796763/97334399-16467300-1853-11eb-818c-597f00f1ff7d.png)

[2020-10-28 18:57] MikeTschudi commented on #508
adlib updated to version 3.0.6; hub.js needs update to use same version

[2020-10-28 22:32] MikeTschudi commented on #457
@chris-fox, the two forms produce the same result upon deployment *if the two items in the description are dependencies of the web map*. Because they're not dependencies of Test Map, the web map is created in parallel with the other items, and so `fcb2bf2837a6404ebb418a1f805f976a.itemId` and `cefb7d787b8b4edb971efba758ee0c1e.itemId` are not defined when the web map is deployed. So with PR #525, th